/* Torrent status colors */
.remake {
  background-color: rgb(240, 176, 128);
}
.trusted {
  background-color: #a3e9a4;
}
.aplus {
  background-color: #81d3fa;
}

/* modified copy of NyaaTorrent theme */
nav#mainmenu {
    background: #263238;
    position: fixed;
    color: white;
    width: 100%;
    z-index: 4;
}

nav#mainmenu a {
	color: white;
}

div#container {
    padding-top: 1.25em;
    background: white;
}

body {
    background-color: #ececec;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*.blockBody {
    padding: 1rem;
}*/

.torrentNav {
	text-align: center;
}

.pagination > .active > a {
    background: #ececec;
    border-color: #ececec;
    color: #337ab7; /* restore usual text color */
}

/* Links, Text */
a {
	color: #106655;
	text-decoration : none;
}

.download-btn {
    font-size: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.torrent-info .name {
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 3px;
	padding-top: 3px;
	word-wrap: break-word;
}

.torrent-info .hash {
	font-family: monospace;
}

.torrent-info .filesize {
	white-space: nowrap;
}

/* Styling/fixes for the table: */
.table > tbody > tr > td {
    /* fix bootstrap uglyness */
    vertical-align: middle;
}

.custom-table-hover > tbody > tr:hover {
	opacity: 0.82;
}

div.container div.blockBody:nth-of-type(2) table{table-layout:fixed;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:first-of-type, div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(5){width:10%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(3){width:15%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(4){width:19%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:last-of-type{width:6%;}
tr.torrent-info td.hash,tr.torrent-info td.date{word-wrap:break-word;}
