.remake {
  background-color: #f0b0b0;
}
.trusted {
  background-color: #98d9a8;
}
.aplus {
  background-color: #60b0f0;
}


/* Copy of NyaaTorrent theme */
nav#mainmenu {
	background: #1b1b1b;
    position: fixed;
    color: white;
    width: 100%;
    z-index: 3;
}
nav#mainmenu a {
	color: white;
}
div#container {
	padding-top: 10rem;
}

body {
	background-color: #FBFBFB;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.blockBody {
    border-radius: 5px;
    border: 1px solid black;
    padding: 1rem;
}

.torrentNav {
	text-align: center;
}

/* Links, Text */
a {
	color: #106655;
	text-decoration : none;
}

.torrent-info .name {
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 3px;
	padding-top: 3px;
	word-wrap: break-word;
}

.torrent-info .hash {
	font-family: monospace;
}

.torrent-info .filesize {
	white-space: nowrap;
}

div.container div.blockBody:nth-of-type(2) table{table-layout:fixed;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:first-of-type, div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(5){width:10%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(3){width:15%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(4){width:19%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:last-of-type{width:6%;}
tr.torrent-info td.hash,tr.torrent-info td.date{word-wrap:break-word;}
