{{ extends "layouts/index_site" }}
{{ import "layouts/partials/helpers/csrf" }}
{{ import "layouts/partials/helpers/errors" }}
{{block title()}}T("torrent_edit_panel"){{end}}
{{block additional_header()}}
<link rel="stylesheet" href="/css/flags/flags.min.css">
{{end}}
{{block content_body()}}
  <div class="box results">
  <h3 id="torrents">{{  T("torrent_edit_panel") }}</h3>
  <form style="text-align:left;padding-left:10px;padding-right:10px;" enctype="multipart/form-data" role="upload" method="POST">
        {{ yield csrf_field() }}
      <div class="form-group">
      <label class="input-label" for="name">{{ T("name")}}</label>
          <input type="text" name="name" class="form-input up-input" placeholder="{{ T("file_name")}}" value="{{Form.Name}}" required>
          {{ yield errors(name="name")}}
      </div>
      <div class="form-group">
          <label class="input-label" for="c">{{ T("category")}}</label>
          <select name="c" class="form-input up-input">
              <option value="">{{ T("select_a_torrent_category")}}</option>
              {{ range _, cat := GetCategories(false, true) }}
              <option value="{{ cat.ID }}" {{if Form.Category == cat.ID }}selected{{end}}>{{T(cat.Name) }}</option>
              {{ end }}
          </select>
          {{ yield errors(name="c")}}
      </div>
      <div class="form-group">
          <label class="input-label" for="language">{{  T("torrent_language") }}</label>
          <div name="language" class="form-input language">
			{{ range _, language := GetTorrentLanguages() }}
              <span class="input-group">
                  <input type="checkbox" name="languages" id="lang-{{ language }}" value="{{language}}"{{if contains(Form.Languages, language) }} checked{{end}}>
                  <label for="lang-{{ language }}" class="flag flag-{{ FlagCode(language) }}" title="{{LanguageName(language, T)}}"></label>
              </span>
			{{ end }}
		  </div>
          {{ yield errors(name="language")}}
      </div>
      <div class="form-group">
          <input type="checkbox" name="remake" id="remake" {{ if Form.Remake }}checked{{end}}>
          <label for="remake">{{ T("mark_as_remake")}}</label>
        {{ yield errors(name="remake")}}
      </div>
		{{ if User.ID > 0 }}
		<p>
			<input type="checkbox" name="hidden" id="hidden" {{ if Form.Hidden }}checked{{end}}>
			<label for="hidden">{{ T("upload_as_anon")}}</label>
        {{ yield errors(name="hidden")}}
		</p>
		{{ end }}
      <div class="form-group">
          <label class="input-label" for="website_link">{{ T("website_link")}}</label>
          <input name="website_link" id="website_link" class="form-input up-input" type="text" value="{{Form.WebsiteLink}}">
      </div>
      <div class="form-group">
          <label class="input-label" for="desc">{{ T("torrent_description")}}</label>
        {{ yield errors(name="desc")}}
          <p class="help-block">{{ T("description_markdown_notice")}}</p>
          <textarea style="height: 10rem;" name="desc" class="form-input up-input" rows="10">{{Form.Description}}</textarea>
      </div>
      <button type="submit" class="form-input up-input">{{ T("save_changes")}}</button>
      <br>
      <br>
  </form>
</div>
{{end}}
{{block js_footer()}}
  <script type="text/javascript" charset="utf-8" src="{{URL.Parse("/js/uploadPage.js")}}"></script>
  <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/to-markdown/3.0.4/to-markdown.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.js"></script>
  <script>
    $(".torrent-desc").markdown({resize: "both"})
  </script>
{{end}}
