{{ extends "layouts/index_site" }}
{{ import "layouts/partials/helpers/csrf" }}
{{ import "layouts/partials/helpers/errors" }}
{{ import "layouts/partials/helpers/tag_form" }}
{{block title()}}{{T("add_tag")}}{{end}}
{{block content_body()}}
<div class="box results">
  <h3 id="torrents">{{  T("add_tag") }}</h3>
  <form style="text-align:left;padding-left:10px;padding-right:10px;" enctype="multipart/form-data" role="upload" method="POST">
    <div class="upload-tag-form">
      {{ yield csrf_field() }}
      {{ range Config.Torrents.Tags.Types }}
        {{ yield tagForm(tagType=., acceptedTag=Form.Get(.Name)) }}
      {{ end }}
      <div class="form-group">
        <label class="input-label" for="tag_{{Config.Torrents.Tags.Default}}">{{ T("tagtype_tags") }}</label>
        <input type="text" name="tag_{{Config.Torrents.Tags.Default}}" id="tag_{{Config.Torrents.Tags.Default}}" value="{{ Form.Get(Config.Torrents.Tags.Default).Tag}}" />
      </div>
    </div>
    <button type="submit" class="form-input up-input btn-green">{{ T("add")}}</button>
    <br/>
    <br/>
  </form>
</div>
{{end}}
