{{ extends "layouts/index_site" }}
{{ import "layouts/partials/helpers/csrf" }}
{{ import "layouts/partials/helpers/captcha" }}
{{ import "layouts/partials/helpers/flags" }}
{{block title()}}{{ T("upload")}}{{end}}
{{block content_body()}}
<div style="text-align: left;" class="box">
	<form enctype="multipart/form-data" role="upload" method="POST">
		{{ yield csrf_field() }}
		<h3>{{ T("name")}}</h3>
		<input type="text" name="name" id="name" class="form-input up-input form-torrent-name" placeholder="{{ T("file_name")}}" value="{{Form.Name}}" autofocus>
		{{ yield errors(name="name")}}
		
		<div class="torrent-preview-table" style="display: none;"><center><h3 style="margin-bottom: 3px;">Preview your torrent</h3></center>
		<table style="border: 3px solid #dfdeeb;">
          <thead  class="torrent-info table-torrent-thead">
          <tr>
              <th class="tr-cat">Category</th>
              <th class="tr-name">Name<span class="sort-arrows"><span class="sortarrowleft sortarrowdim">▼</span><span class="sortarrowdim">▲</span></span></th>
              <th class="tr-cs"></th>
              <th class="tr-links"></th>
              <th class="tr-size hide-xs">Size<span class="sort-arrows"><span class="sortarrowleft sortarrowdim">▼</span><span class="sortarrowdim">▲</span></span></th>
              <th class="tr-se hide-xs">S<span class="sort-arrows"><span class="sortarrowleft sortarrowdim">▼</span><span class="sortarrowdim">▲</span></span></th>
              <th class="tr-le hide-xs">L<span class="sort-arrows"><span class="sortarrowleft sortarrowdim">▼</span><span class="sortarrowdim">▲</span></span></th>
              <th class="tr-dl hide-xs">D<span class="sort-arrows"><span class="sortarrowleft sortarrowdim">▼</span><span class="sortarrowdim">▲</span></span></th>
              <th class="tr-date hide-xs">Date<span class="sort-arrows"><span class="sortarrowleft ">▼</span><span class="sortarrowdim">▲</span></span></th>
          </tr>
          </thead>
          <tbody id="torrentListResults">
				{{if len(Models) > 0}}
				  <tr id="torrent_{{ Models[0].ID }}" class="torrent-info hidden {{if Models[0].Status == 2}}remake{{else if Models[0].Status == 3}}trusted{{else if Models[0].Status == 4}}aplus{{end}}" >
					  <td class="tr-cat home-td">
					  {{ if Sukebei }}
					  <div class="nyaa-cat sukebei-cat-{{ Models[0].Category }}{{ Models[0].SubCategory }}">
					  {{ else}}
					  <div class="nyaa-cat nyaa-cat-{{ Models[0].SubCategory}}">
					  {{end}}
					  {{if Models[0].Languages[0] != "" }}
						<img src="/img/blank.gif" alt="{{ LanguageNameFromCode(Models[0].Languages[0], T) }}" class="flag flag-{{ (len(Models[0].Languages) == 1) ?  FlagCode(Models[0].Languages[0]) : "multiple" }}" title="{{ range key, language := Models[0].Languages }}{{ LanguageNameFromCode(language, T) }}{{ if len(Models[0].Languages) > 1 && (key+1) < len(Models[0].Languages) }},{{ end }}{{ end }}">
					{{end}}
					  </div>
					  </td>
					  <td class="tr-name home-td"{{ if len(Models[0].Comments) == 0 }}colspan="2"{{ end }}>
							  {{Models[0].Name}}
					  </td>
				  {{ if len(Models[0].Comments) > 0 }}
					  <td class="tr-cs home-td">
						  <span>{{len(Models[0].Comments)}}</span>
					  </td>
				  {{ end }}
					  <td class="tr-links home-td">
							  <div class="icon-magnet"></div>
						  {{if Models[0].TorrentLink != ""}}
							  <div class="icon-floppy"></div>
						  {{end}}
					  </td>
					  <td class="tr-size home-td hide-xs">
						  {{ fileSize(Models[0].Filesize, T) }}
					  </td>
					  {{if Models[0].LastScrape.IsZero}}
					  <td class="home-td hide-xs" colspan="3">{{ T("unknown")}}</td>
					  {{else}}
					  <td class="tr-se home-td hide-xs">{{Models[0].Seeders}}</td>
					  <td class="tr-le home-td hide-xs">{{Models[0].Leechers}}</td>
					  <td class="tr-dl home-td hide-xs">{{Models[0].Completed}}</td>
					  {{end}}
					  <td class="tr-date home-td date-short hide-xs">{{Models[0].Date}}</td>
				  </tr>
				  {{ end }}
        	<tr name="torrent-info tr" class="torrent-info{{ if User.IsTrusted() }} trusted{{end}}">
              		<td class="tr-cat home-td">
				<div class="nyaa-cat table-torrent-category">
				<a class="category"></a>
				<a><img src="/img/blank.gif" class="flag flag-other table-torrent-flag"></a>
             			 </div>
             		 </td>
              		<td class="tr-name home-td" colspan="2"><a class="table-torrent-name">{{Form.Name}}</a></td>
		  
              <td class="tr-links home-td">
                  <a title="Magnet Link"><div class="icon-magnet"></div></a>
                  <a title="Torrent file"><div class="icon-floppy"></div></a>
              </td>
              <td class="tr-size home-td hide-xs">570.4 MiB</td>
              <td class="tr-se home-td hide-xs">0</td>
              <td class="tr-le home-td hide-xs">0</td>
              <td class="tr-dl home-td hide-xs">0</td>
              <td class="tr-date home-td date-short hide-xs table-torrent-date" title="2017-07-12T16:58:29Z">Jul 12, 2017</td>
          </tr>
		  {{if len(Models) > 1}}
				  <tr id="torrent_{{ Models[1].ID }}" class="torrent-info hidden {{if Models[1].Status == 2}}remake{{else if Models[1].Status == 3}}trusted{{else if Models[1].Status == 4}}aplus{{end}}" >
					  <td class="tr-cat home-td">
					  {{ if Sukebei }}
					  <div class="nyaa-cat sukebei-cat-{{ Models[1].Category }}{{ Models[1].SubCategory }}">
					  {{ else}}
					  <div class="nyaa-cat nyaa-cat-{{ Models[1].SubCategory}}">
					  {{end}}
					  {{if Models[1].Languages[0] != "" }}
						<img src="/img/blank.gif" alt="{{ LanguageNameFromCode(Models[1].Languages[0], T) }}" class="flag flag-{{ (len(Models[1].Languages) == 1) ?  FlagCode(Models[1].Languages[0]) : "multiple" }}" title="{{ range key, language := Models[1].Languages }}{{ LanguageNameFromCode(language, T) }}{{ if len(Models[1].Languages) > 1 && (key+1) < len(Models[1].Languages) }},{{ end }}{{ end }}">
					{{end}}
					  </div>
					  </td>
					  <td class="tr-name home-td"{{ if len(Models[1].Comments) == 0 }}colspan="2"{{ end }}>
							  {{Models[1].Name}}
					  </td>
				  {{ if len(Models[1].Comments) > 0 }}
					  <td class="tr-cs home-td">
						  <span>{{len(Models[1].Comments)}}</span>
					  </td>
				  {{ end }}
					  <td class="tr-links home-td">
							  <div class="icon-magnet"></div>
						  {{if Models[1].TorrentLink != ""}}
							  <div class="icon-floppy"></div>
						  {{end}}
					  </td>
					  <td class="tr-size home-td hide-xs">
						  {{ fileSize(Models[1].Filesize, T) }}
					  </td>
					  {{if Models[1].LastScrape.IsZero}}
					  <td class="home-td hide-xs" colspan="3">{{ T("unknown")}}</td>
					  {{else}}
					  <td class="tr-se home-td hide-xs">{{Models[1].Seeders}}</td>
					  <td class="tr-le home-td hide-xs">{{Models[1].Leechers}}</td>
					  <td class="tr-dl home-td hide-xs">{{Models[1].Completed}}</td>
					  {{end}}
					  <td class="tr-date home-td date-short hide-xs">{{Models[1].Date}}</td>
				  </tr>
				  {{end}}
          </tbody>
		</table></div>

		<h3>{{ T("torrent_file")}}</h3>
		<input type="file" name="torrent" id="torrent" class="up-input" accept=".torrent">
		<p>{{ T("uploading_file_prefills_fields")}}</p>
		{{ yield errors(name="torrent")}}

		<h3>{{ T("magnet_link")}}</h3>
		<input type="text" name="magnet" id="magnet" class="form-input up-input" placeholder="{{ T("magnet_link")}}" value="{{Form.Magnet}}">
		<p>{{  T("please_include_our_tracker") }}</p>
		{{ yield errors(name="magnet")}}

		<h3>{{ T("category")}}</h3>
		<select name="c" id="c" class="form-input up-input form-torrent-category" required>
			<option value="">{{ T("select_a_torrent_category")}}</option>
			{{ range _, cat := GetCategories(false, true) }}
			<option value="{{ cat.ID }}" {{if Form.Category == cat.ID }}selected{{end}}>{{ T(cat.Name) }}</option>
			{{ end }}
		</select>
		{{ yield errors(name="c")}}

		<h3>{{  T("torrent_language") }}</h3>
		<div name="language" class="form-input language">
            {{ yield flagList(languages=GetTorrentLanguages(), selected=Search.Languages, inputname="languages", id="upload-lang")}}
		</div>
		<p class="not-important">{{ T("language_not_mandatory") }}</p>
		{{ yield errors(name="language")}}

		<p>
			<input type="checkbox" value="true" name="remake" id="remake" class="form-torrent-remake">
			<label for="remake">{{ T("mark_as_remake")}}</label>
		</p>
		{{ yield errors(name="remake")}}

		{{ if User.ID > 0 }}
		<p>
			<input type="checkbox" value="true" name="hidden" id="hidden" class="form-torrent-hidden">
			<label for="hidden">{{ T("upload_as_anon")}}</label>
		</p>
		{{ yield errors(name="hidden")}}
		{{ end }}
		<h3>{{ T("website_link")}}</h3>
		<input name="website_link" id="website_link" class="form-input up-input" type="text" value="{{Form.WebsiteLink}}">
		{{ yield errors(name="website_link")}}

		<h3>{{ T("torrent_description")}}</h3>
		<p>{{ T("description_markdown_notice")}}</p>
		<textarea name="desc" id="desc" class="form-input up-input" style="height: 10rem;">{{Form.Description}}</textarea>
		{{ yield errors(name="desc")}}
		<div style="width: 240px">
		{{yield captcha(captchaid=Form.CaptchaID)}}
		</div>
		<input type="hidden" id="IsUploadingToSukebei" value="{{ if Sukebei}}yes{{end}}">
		{{ yield errors(name="captchaID")}}
		<button type="submit" class="form-input up-btn">{{ T("upload")}}</button>
	</form>
</div>
{{end}}
{{ block footer_js()}}
<script type="text/javascript" src="/js/kilo.js"></script>
<script type="text/javascript">var UserTrusted = {{User.IsTrusted()}};
	UpdatePreviewTorrentName();
	UpdatePreviewCategory();
	UpdateTorrentLang();
                                                                                                                
	{{ if User.ID > 0 }}
		document.getElementsByClassName("form-torrent-hidden")[0].onchange = function(){
			document.getElementsByName("torrent-info tr")[0].className = "";
		    if(UserTrusted&& !document.getElementsByClassName("form-torrent-hidden")[0].checked)
			document.getElementsByName("torrent-info tr")[0].className = "trusted ";
			document.getElementsByName("torrent-info tr")[0].className = document.getElementsByName("torrent-info tr")[0].className + "torrent-info " + (document.getElementsByClassName("form-torrent-remake")[0].checked ? " remake" : "");
		};
	{{end }}

</script>
<script type="text/javascript" src="/js/simplemde.min.js?v={{ Config.Version}}{{ Config.Build }}"></script>
<script type="text/javascript">new SimpleMDE({ element: document.getElementById("desc"), spellChecker: false, showIcons: [ "strikethrough", "code", "table", "horizontal-rule" ] });</script>
{{end}}
