# TYPE  DATABASE        USER            ADDRESS                 METHOD
# For debugging purposes
local   "{{ nyaapantsu_dbname }}" "{{ nyaapantsu_user }}" md5
local   all             all                                     peer
# IPv4 local connections:
host    "{{ nyaapantsu_user }}" "{{ nyaapantsu_password }}" 127.0.0.1/32            md5
# IPv6 local connections:
host    all             all             ::1/128                 ident
# Allow replication connections from localhost, by a user with the
# replication privilege.
#local   replication     postgres                                peer
#host    replication     postgres        127.0.0.1/32            ident
#host    replication     postgres        ::1/128                 ident
