<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pantsu Nyaa</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
    .remake {
      background-color: #f0b0b0;
    }
    .trusted {
      background-color: #98d9a8;
    }
    .aplus {
      background-color: #60b0f0;
    }
  </style>
  <body>
      <nav class="navbar navbar-default">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="https://nyaa.pantsu.cat">Pantsu Nyaa</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li><a href="https://sukebei.pantsu.cat">Sukebei Nyaa</a></li>
                  </ul>
                  <form class="navbar-form navbar-left" role="search" action="/search" method="get">
                      <div class="form-group">
                          <select name="c" class="form-control" value>
                            <option value="_">All categories</option>
                            <option value="1_" {{if eq .Category "1_"}}selected{{end}}>Software</option>
                            <option value="1_1" {{if eq .Category "1_1"}}selected{{end}}>Software - Applications</option>
                            <option value="1_2" {{if eq .Category "1_2"}}selected{{end}}>Software - Games</option>
                            <option value="2_" {{if eq .Category "2_"}}selected{{end}}>Audio</option>
                            <option value="2_3" {{if eq .Category "2_3"}}selected{{end}}>Audio - Lossless</option>
                            <option value="2_4" {{if eq .Category "2_4"}}selected{{end}}>Audio - Lossy</option>
                            <option value="3_" {{if eq .Category "3_"}}selected{{end}}>Anime</option>
                            <option value="3_5" {{if eq .Category "3_5"}}selected{{end}}>Anime - English-translated</option>
                            <option value="3_6" {{if eq .Category "3_6"}}selected{{end}}>Anime - Raw</option>
                            <option value="4_" {{if eq .Category "4_"}}selected{{end}}>Literature</option>
                            <option value="4_7" {{if eq .Category "4_7"}}selected{{end}}>Literature - English-translated</option>
                            <option value="4_8" {{if eq .Category "4_8"}}selected{{end}}>Literature - Raw</option>
                            <option value="5_" {{if eq .Category "5_"}}selected{{end}}>Live Action</option>
                            <option value="5_9" {{if eq .Category "5_9"}}selected{{end}}>Live Action - English-translated</option>
                            <option value="5_10" {{if eq .Category "5_10"}}selected{{end}}>Live Action - Idol/Promotional Video</option>
                            <option value="5_11" {{if eq .Category "5_11"}}selected{{end}}>Live Action - Raw</option>
                          </select>
                          <input name="q" class="form-control" placeholder="Search" type="text">
                      </div>
                      <button type="submit" class="btn btn-default">Search for Torrents</button>
                  </form>
              </div>
          </div>
      </nav>

      <div class="container">
          <table class="table">
              <tr>
                  <th>Name</th>
                  <th>Hash</th>
                  <th>Links</th>
              </tr>
              {{ range .Records}}
              <tr {{if eq .Status 2}}class="remake"{{end}}
                  {{if eq .Status 3}}class="trusted"{{end}}
                  {{if eq .Status 4}}class="aplus"{{end}}>
                <td>{{.Name}}</td>
                  <td>{{.Hash}}</td>
                  <td><a href="{{.Magnet}}" target="_blank" title="Magnet link" ><span class="glyphicon glyphicon-magnet" aria-hidden="true"></span></a>
                      <a href="http://torcache.net/torrent/{{.Hash}}.torrent"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
                  </td>


              </tr>
              {{end}}

          </table>
          <nav aria-label="Page navigation">
              <ul class="pagination">
                  <li>
                      <a id="page-prev" href="/page/" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li><a id="page-0" href="/page/"></a></li>
                  <li><a id="page-1" href="/page/"></a></li>
                  <li><a id="page-2" href="/page/"></a></li>
                  <li><a id="page-3" href="/page/"></a></li>
                  <li><a id="page-4" href="/page/"></a></li>
                  <li>
                      <a id="page-next" href="/page/" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var pathArray = window.location.pathname.split( '/' );
        var query = window.location.search;
        var page = parseInt(pathArray[2]);
        var pageString = "/page/";

        var next = page + 1;
        var prev = page - 1;

        if (prev < 1) {
            prev = 1;
        }

        if (isNaN(page)) {
            next =  2;
            prev =  1;
        }

        if (query != "") {
            pageString = "/search/";
        }

        var maxId = 5;
        for (var i = 0; i < maxId; i++) {
            var el = document.getElementById('page-' + i), n = next + i;
            el.href = pageString + n + query;
            el.innerHTML = n;
        }

        document.getElementById('page-next').href = pageString + next + query;
        document.getElementById('page-prev').href = pageString + prev + query;
    </script>
</body>
</html>
