{* We extend the base template *Do more }
{{ extends "partials/base" }}
{{import "partials/helpers/search"}}
{* We apply the menu in the base template *}
{{ block menu()}}
{{include "partials/menu/admin"}}
{{end}}
{* We add the class content for admin *}
{{ block contclass()}}content-admin{{end}}
{* We add the mod panel title and the title block *}
{{block titleBase()}}Moderation Panel - {{block title()}}{{end}}
{{end}}
{* We add the mod panel search refine and the body block *}
{{ block content_body_base()}}
{{ block content_body()}}
{{end}}
{{end}}
