{* We extend the base template *}
{{ extends "partials/base" }}
{{import "partials/helpers/search"}}

{* We apply the menu in the base template *}
{{ block menu()}}
{{include "partials/menu/site"}}
{{end}}

{* We used to add the class content for admin *}
{{ block contclass()}}admin-content{{end}}

{* We add the mod panel title and the title block *}
{{block titleBase()}} Moderation Panel - {{block title()}}{{end}}
{{end}}

{* We add the mod nav and the body block *}
{{ block content_body_base()}}
{{include "partials/menu/admin"}}
{{ block content_body()}}
{{end}}
{{end}}
