body {
    color: black;
    background: white;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    min-width: 1200px;
}
.torrent-info-data {
    font-family: Arial, sans-serif!important;
}
.torrent-info-data {
    width: 59%;
}
#torrent-view-data {
	margin-left: 10px;
}

.container, .modtools {
    max-width: 1328px;
    width: 87%;
}

a {
    color: #106655;
}
a:hover {
    text-decoration: underline;
}

#content {
    top: 36px!important;
}

.tr-cat {
    width: 87px!important;
    padding: 0 2px!important;
}
th.tr-cat {
    text-align: left;
}
th.tr-name a {
    display: none;
}
.tr-name {
    padding: 3px 0!important;
    font-weight: bold!important;
    font-size: 0.9em;
}
.tr-links {
    width: 26px;
    text-align: right;
}
.tr-links a {
    display: block;
}
.tr-size {
    width: 114px;
}

.comment-count {
    display: inline;
}
.tr-cs a{
    display: none;
}

#mascot {
    display: none;
}

.tr-cat div.nyaa-cat {
    border-color: #666!important;
}

.icon-magnet:before {
    font-size: 14px;
}
.icon-floppy::before {
    content: '';
}
.icon-floppy {
    background: url("/img/dl-link.png") no-repeat center;
}

.header {
    background: url("/img/topbar.png") repeat-x black;
    background: linear-gradient(to bottom, #6d6d6d 0%, #000000 72%);
    border-color: black;
    height: 40px;
    font-size: 12px;
}
.header .container>div {
    line-height: 40px;
    padding: 0 0.2rem;
}
.header .container {
    width: 1090px;
}

.h-right {
    margin-right: 2px;
}

.header .nav-btn {
    color: white;
}
.nav-btn .hide-md, .nav-btn.log-in span {
    display: inline!important;
}
.nav-btn .visible-md, .nav-btn.log-in div  {
    display: none!important;
}

.header .form-input {
    margin-right: 2px;
}

.form-input {
    border-radius: 0;
    height: 22px;
    color: black!important;
    font-size: 13px!important;
    border-color: grey!important;
    padding: 0 5px;
}
.form-input.search-box {
    margin-right: auto;
    padding: 2px;
}
.form-input.search-box+.icon-search {
    margin-top: -4px;
    width: 67px;
    height: 22px;
    padding: 1px 6px;
    left: auto;
    top: auto;
    position: initial;
    border: 1px solid grey;
    background: linear-gradient(to bottom, #fff 0%, #d8d8d8 72%);
}
.form-input.search-box+.icon-search:active {
    background: linear-gradient(to bottom, #d8d8d8 0%, #fff 72%);
    
}

.form-input.search-box+.icon-search::before {
    content: "Search";
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    cursor: auto;
}
.form-input.refine {
    display: none;
}
select.form-input {
    padding: 0 4px;
    padding-right: 10px;
    height: 20px;
}

.header .h-search .form-input {
    font-size: 100%;
}
.pagination li {
    border: 1px solid #666666;
    border-radius: 0!important;
    padding: 0.25em;
    min-width: auto;
    color: #106655;
    margin-right: 4px;
}
.pagination li:hover {
    background-color: #339999;
    border: 1px solid #333333;
    color: #FBFBFB;
}
.results.box {
    padding: 1px!important;
    border-top: none;
    border-radius: 0 0 4px 4px;
}
.box, #description-box, .comment-box, .comment-submit,input#show-filelist:checked~#filelist {
    background-color: #FBFBFB;
    border: 2px solid #666666;
}
#description-box {
    font-size: 0.8em;
}
.form-input {
    border-color: #c4c4c4 !important;
    background: #fff;
    color: #676767;
}
.header .h-user .user-avatar {
    background: black;
    border-color: #3c3c3c;
    height: 24px;
    width: 24px;
    margin-top: 8px;
}

.torrent-info-data.uploader-link {
    font-weight: bold;
}
.torrent-info-data.uploader-anon {
    font-style: italic;
}
.torrent-info-data.uploader-link a, .torrent-info-data.uploader-anon a{
	color: green;
}

#torrent-description-hr {
	margin-top: 40px;
}
.torrent-hr {
    font-size: 1em;
}
.torrent-hr::after {
	content: ':';
}
#torrent-name::after {
	content: '';
}
#torrent-name {
    font-size: 1.26em;
}

.header .h-user .user-menu {

    background: linear-gradient(to bottom, #000000 0%, #2b2b2b 72%);
}

.torrent-info-label {
    width: 10%;
}

.torrent-buttons {
    float: right;
    margin-top: 0;
}
.torrent-buttons a{
    height: 26px!important;
    background: linear-gradient(to bottom, #33ca98 0%, #336867 72%);
    color: white!important;
    opacity: 1!important;
    line-height: 23px;
    font-size: 16px!important;
    font-weight: bold;
    border: none;
    padding: 2px 7px;
}
.torrent-buttons a.hidden {
	opacity: 0.6!important;
    filter: grayscale(0.7);
}
.torrent-buttons a:hover {
    text-decoration: none;
}
.torrent-buttons [class*="icon-"]::before {
    display: none;
}
th, th a {
    color: black;
}
th {
    border-bottom-width: 1px;
    font-size: 0.9em;
    vertical-align: bottom;
    padding-bottom: 0!important;
}

td {
    font-size: 0.9em;
    padding: 2px 0!important;
    
}
.results td {
    border-bottom: 1px solid #666666!important;
    border-top: 1px solid #666666!important;
}
td a {
    color: #106655;
}
td.tr-se, .success-text {
    color: green;
}
.results.box td.tr-se {
    border-left: 1px solid #666666;
}

td.tr-le, .error-text {
    color: red;
}
td.tr-size {
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
}
.tr-se,.tr-le,.tr-dl {
    text-align: left;
    width: 60px;
}
.results.box .tr-se {
    padding-left: 4px!important;
}
.btn-red {
    background-color: #E84C4C;
    color: #E8E8E8!important;
}

.btn-red:hover {
    color: #E8E8E8;
}

.torrent-aplus, .aplus, .btn-blue {
    background: #6fc6f1;
}

.trusted, .btn-green, .torrent-trusted {
    background: #98d9a8;
}

.torrent-remake, .remake, .btn-orange {
    background: #f0b080;
}

.header .h-search select.form-input, .form-input.search-box {
    max-width: 140px!important;
    width: 140px;
}
.header .h-user .user-info {
    line-height: 40px;
}
.header .h-user .nav-btn {
    height: 40px;
}

.pagination .active, .pagination .active:hover {
    background: white;
    font-weight: bold;
    border: none;
}

.pagination .disabled {
    color: #cbbdd7;
    cursor: unset;
}

a.nav-btn.log-in {
    margin-right: 5px;
}

.box.refine {
    border-bottom: none;
    display:block!important;
    padding: 8px;
    border-radius: 4px 4px 0 0;
}
.box.refine.refine-not-search {
    display: none!important;
}

.refine h3 {
    display: none;
}

.tr-cs {
    width: 30px;
    text-align: right;
    font-size: 0.9em!important;
}
}
.tr-date {
    width: 96px;
}

.modtools {
    background-color: #F7F8F9;
    border-color: #cbbdd7;
}

.h-logo {
    display: none;
}

#browse-link {
    display: inline-block!important;
}

.torrent-preview-table{
    display: none!important;
}
.results table {
	
}
