body { color: #373737; background: url('theme_g_anon/bg-body.png'); }

.header, .user-menu { box-shadow: 1px 3px 4px hsla(200,20%,20%,0.15) }
.box, .pagination li { box-shadow: 1px 3px 4px hsla(270,20%,20%,0.15) }

#mascot { background-image: url('/img/renchon.svg'); }
a { color: #676767; }
a:hover { color:  #444; }

.header {
	background: #bfe3f3 url('theme_g_anon/bg-header-tile.png') repeat-x;
	border-color: #1d6d90;
}
.header .nav-btn { color: #1d6d90; }
.header .nav-btn:hover { color: #2586B0; }

.box, .pagination li { background: hsla(198, 63%, 97%, 0.85); border-color: #cbbdd7 !important; }

.form-input { border-color: #c4c4c4 !important; background: #fff; color: #676767; }

.header .h-user .user-avatar {
	background: #99BFD0;
	border-color: #1d6d90;
}
.header .h-user .user-menu {
	background: #BDE0EF;
	background:    -moz-linear-gradient(top, #BDE0EF 0%, #ABCFDF 100%);
	background: -webkit-linear-gradient(top, #BDE0EF 0%, #ABCFDF 100%);
	background:         linear-gradient(to bottom, #BDE0EF 0%, #ABCFDF 100%);
	border-color: #1d6d90;
}

table thead {
	background: #dcccea !important; /* Old browsers */
	background: -moz-linear-gradient(top, #dcccea 0%, #d7c6e7 100%) !important;
	background: -webkit-linear-gradient(top, #dcccea 0%,#d7c6e7 100%) !important;
	background: linear-gradient(to bottom, #dcccea 0%,#d7c6e7 100%) !important;
}

th { color: #9b85ae; }
th a { color: #7A5C94; }

th { border-color: #cbbdd7 !important; }
td { border-color: #e6eff4 !important; }

td.tr-se, .success-text { color: #22A243; }
td.tr-le, .error-text { color: #E84C4C; }

.aplus { background: hsla(200, 100%, 50%, 0.2) !important; }
.trusted { background: hsla(100, 100%, 50%, 0.2) !important; }
.remake { background: hsla(30, 100%, 50%, 0.2) !important; }

.pagination .active { background: #cbbdd7; color: #444; }

.pagination .disabled { color: #cbbdd7; cursor: unset; }

.sukebei { color: #373737; }
.sukebei .header { background-image: url('theme_g_anon/s_bg-header-tile.png'); border-color: #C48CBE; }
.sukebei .header .nav-btn { color: #C48CBE; }
.sukebei .header .nav-btn:hover { color: #75184A; }
.sukebei a { color: #676767; }
.sukebei a:hover { color:  #444; }
.sukebei th { color: #9b85ae; }
.sukebei th a { color: #7A5C94; }
.sukebei tr:nth-child(2n+1) { background: hsla(330, 100%, 91%, 0.2); }

.sukebei .header .h-user .user-menu {
	background: #EFDCF0;
	background:    -moz-linear-gradient(top, #EFDCF0 0%, #EBCFEC 100%);
	background: -webkit-linear-gradient(top, #EFDCF0 0%, #EBCFEC 100%);
	background:         linear-gradient(to bottom, #EFDCF0 0%, #EBCFEC 100%);
	border-color: #C48CBE;
}

.header .h-user button:focus {background-color: rgba(0,0,255, 0.2);}

.magnet-icon {
	display: inline-block;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAARVBMVEUAAABnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2c4YLl1AAAAFnRSTlMAAQIFEBFDREZYWa3Bw9na3N7i5vf535CH5gAAAE5JREFUCFtVjTsWgCAQxAL4RxFB5/5HtUBE0+SlmF2itAMUSxJU/+uQIjR/+V+52u6ETdJkzChphUUvM7hUIzmgCyVCD4AdfM5+sO3Pww3AEwdA+ylEXQAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.download-icon {
	display: inline-block;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANBAMAAACAxflPAAAAG1BMVEUAAABnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2eKp/RtAAAACHRSTlMADA8SFLTA01I9jMYAAAA5SURBVAgdY4jo6OhIZmBgaOho4FB3gNCMxRCaQQ1IR3S0MnAAaaAaFBqosRUkDpTgwEKDzAXqhAEAilwTpKgo3zMAAAAASUVORK5CYII=');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.upload-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAbFBMVEUAAAAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZC573NHAAAAI3RSTlMAAQUHDQ4PEhQpMTs9VWRnaZibo7e+x8jKzs/V2dre5ujp++fjDC8AAABYSURBVAhbXYxXDoBQCASxY++9y/3vKOQZjM7PMtmwAIJb2qB4O/Wq/kFEw6POScJoGUXkCgN9JGrelZ9tVJkj4YGYM+PMoZC9rp0kamPMjFdYQ7SsSgofbpkMCNPQCKDTAAAAAElFTkSuQmCC');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.rss-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAhFBMVEUAAAAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZB6K0t7AAAAK3RSTlMAAQIEBQYHCA4UHCorMDE4PD5ERkxNUFdtcXV4f5GSnZ6jsrXi5vX3+fv9pLYv8gAAAG5JREFUCB0FwQlCwkAABLBpLYsKKIeiHBYE7Bby//+ZpOsroPZP6QHwk+rj8wwYQpeUAxCOy2kyHyFU9k1mECbd9n5tckDYlLw+vlMQhttbvh6T/BJe2r9SvGdLRovnumrvu3ZtzAkAp0wvAC7lH4t0FMXmDzJDAAAAAElFTkSuQmCC');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.faq-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAWlBMVEUAAAAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZB1pLqxAAAAHXRSTlMAAgMHChQgISYqLS81SnmPmpudoKO0x9zg4u/z/fkcfNUAAABiSURBVAgdBcELQoIAAECxgZVC5QewoHr3v2YbTPd9f0zAuFbVOsLW78fg7bsVc707vXitiaWe558v6sFRdRtcaueoGnz+1c5Sdb1W3ZmrqJqwVVQrjFtVbSMwL8exzAAA/AOWMAmdd8y8KgAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.fap-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAUVBMVEUAAAAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZD3tax1AAAAGnRSTlMAAQcICg0QERQXNjhYc3h7pcHKzOLk6Ont80ix3wwAAABRSURBVAgdZcHHAYAgAATBxZwzitd/oYqJhzOAifFiA5hWshW1lVpDI2+U1zArmLAKNjoFPZHTy0VQ7rrtJafCyXMFl2yVtOY80kVLyicZEv4O9voJhu7pHlYAAAAASUVORK5CYII=');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.fun-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAk1BMVEUAAAAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZBq65OyAAAAMHRSTlMAAQIDBQcKCxQeHyAiIyYqLjA2PD5HT1VfYWJ4goOFiIymrbS3ucXH3N7k7/P3+/1dmZncAAAAcElEQVQIHQXBBUICAQAAwT1UDMRC7A4Ezpj/v86ZqtnLZvy8mlQ1PALbg6oHgHG/DlkOrOK1nlnER5i2ZjmwCqd9A+CiL8YR6z9m3XK0e744Ht797rT3YzufNH3irjoDeBuq5htwP1TVcHJ9czmt+gcddhMvfLHpNQAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.trash-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPGc+CgkJPHBhdGggZD0iTTQ2NS40MjMsNDguMjQxaC0xMzcuNjFWMjMuOTU1QzMyNy44MTMsMTAuNzQ2LDMxNy4wODIsMCwzMDMuODkzLDBoLTk1Ljc4NWMtMTMuMTksMC0yMy45MiwxMC43NDYtMjMuOTIsMjMuOTU1VjQ4LjI0ICAgIEg0Ni41NzdjLTYuNjU1LDAtMTIuMDQ5LDUuMzk0LTEyLjA0OSwxMi4wNDljMCw2LjY1NSw1LjM5NCwxMi4wNDksMTIuMDQ5LDEyLjA0OWgyMi4zMzJsMTUuMjI4LDM5Ni4zOTYgICAgQzg1LjA2OSw0OTIuOTk1LDEwNC44MTgsNTEyLDEyOS4wOTksNTEyaDI1My44MDRjMjQuMjgxLDAsNDQuMDMtMTkuMDA2LDQ0Ljk2LTQzLjI2N2wxNS4yMjgtMzk2LjM5NmgyMi4zMzIgICAgYzYuNjUzLDAsMTIuMDQ5LTUuMzk0LDEyLjA0OS0xMi4wNDlDNDc3LjQ3Miw1My42MzUsNDcyLjA3OCw0OC4yNDEsNDY1LjQyMyw0OC4yNDF6IE0yMDguMjg1LDI0LjA5N2g5NS40M3YyNC4xNDNoLTk1LjQzVjI0LjA5N3ogICAgIE00MDMuNzg0LDQ2Ny44MDljLTAuNDMzLDExLjI2OC05LjYwNSwyMC4wOTQtMjAuODgyLDIwLjA5NEgxMjkuMDk5Yy0xMS4yNzYsMC0yMC40NDgtOC44MjctMjAuODgyLTIwLjA5NUw5My4wMjUsNzIuMzM4aDMyNS45NTIgICAgTDQwMy43ODQsNDY3LjgwOXoiIGZpbGw9IiMwMDAwMDAiLz4KCTwvZz4KPC9nPgo8Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0xODIuNjMsMTgxLjU3MWMtMC4xMjctNi41NzUtNS40OTQtMTEuODE3LTEyLjA0Mi0xMS44MTdjLTAuMDc4LDAtMC4xNTgsMC0wLjIzNiwwLjAwMiAgICBjLTYuNjUyLDAuMTI4LTExLjk0Myw1LjYyNi0xMS44MTUsMTIuMjc4bDMuNzgxLDE5Ni42MzRjMC4xMjYsNi41NzUsNS40OTUsMTEuODE3LDEyLjA0MiwxMS44MTdjMC4wNzgsMCwwLjE1OCwwLDAuMjM2LTAuMDAyICAgIGM2LjY1My0wLjEyOCwxMS45NDMtNS42MjQsMTEuODE1LTEyLjI3OEwxODIuNjMsMTgxLjU3MXoiIGZpbGw9IiMwMDAwMDAiLz4KCTwvZz4KPC9nPgo8Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0yNTUuOTk4LDE2OS43NTNjLTYuNjU0LDAtMTIuMDQ5LDUuMzk0LTEyLjA0OSwxMi4wNDl2MTk2LjYzNGMwLDYuNjU0LDUuMzk0LDEyLjA0OSwxMi4wNDksMTIuMDQ5ICAgIGM2LjY1NSwwLDEyLjA0OS01LjM5NCwxMi4wNDktMTIuMDQ5VjE4MS44MDJDMjY4LjA0NywxNzUuMTQ4LDI2Mi42NTMsMTY5Ljc1MywyNTUuOTk4LDE2OS43NTN6IiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMzQxLjY0NSwxNjkuNzU2Yy02LjYyOC0wLjE0Ny0xMi4xNTEsNS4xNjItMTIuMjc4LDExLjgxNWwtMy43ODEsMTk2LjYzNGMtMC4xMjksNi42NTMsNS4xNjIsMTIuMTUsMTEuODE1LDEyLjI3OCAgICBjMC4wNzgsMC4wMDEsMC4xNTgsMC4wMDIsMC4yMzYsMC4wMDJjNi41NDYsMCwxMS45MTYtNS4yNDQsMTIuMDQyLTExLjgxN2wzLjc4MS0xOTYuNjM0ICAgIEMzNTMuNTg4LDE3NS4zOCwzNDguMjk5LDE2OS44ODMsMzQxLjY0NSwxNjkuNzU2eiIgZmlsbD0iIzAwMDAwMCIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=)
}
.sukebei .upload-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAbFBMVEUAAADEjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL49kY8dAAAAI3RSTlMAAQUHDQ4PEhQpMTs9VWRnaZibo7e+x8jKzs/V2dre5ujp++fjDC8AAABYSURBVAhbXYxXDoBQCASxY++9y/3vKOQZjM7PMtmwAIJb2qB4O/Wq/kFEw6POScJoGUXkCgN9JGrelZ9tVJkj4YGYM+PMoZC9rp0kamPMjFdYQ7SsSgofbpkMCNPQCKDTAAAAAElFTkSuQmCC');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.sukebei .rss-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAhFBMVEUAAADEjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL6j6m0tAAAAK3RSTlMAAQIEBQYHCA4UHCorMDE4PD5ERkxNUFdtcXV4f5GSnZ6jsrXi5vX3+fv9pLYv8gAAAG5JREFUCB0FwQlCwkAABLBpLYsKKIeiHBYE7Bby//+ZpOsroPZP6QHwk+rj8wwYQpeUAxCOy2kyHyFU9k1mECbd9n5tckDYlLw+vlMQhttbvh6T/BJe2r9SvGdLRovnumrvu3ZtzAkAp0wvAC7lH4t0FMXmDzJDAAAAAElFTkSuQmCC');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.sukebei .faq-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAUVBMVEUAAADEjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL5x375kAAAAGnRSTlMAAQcICg0QERQXNjhYc3h7pcHKzOLk6Ont80ix3wwAAABRSURBVAgdZcHHAYAgAATBxZwzitd/oYqJhzOAifFiA5hWshW1lVpDI2+U1zArmLAKNjoFPZHTy0VQ7rrtJafCyXMFl2yVtOY80kVLyicZEv4O9voJhu7pHlYAAAAASUVORK5CYII=');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.sukebei .fap-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAUVBMVEUAAAAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZAdbZD3tax1AAAAGnRSTlMAAQcICg0QERQXNjhYc3h7pcHKzOLk6Ont80ix3wwAAABRSURBVAgdZcHHAYAgAATBxZwzitd/oYqJhzOAifFiA5hWshW1lVpDI2+U1zArmLAKNjoFPZHTy0VQ7rrtJafCyXMFl2yVtOY80kVLyicZEv4O9voJhu7pHlYAAAAASUVORK5CYII=');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.sukebei .fun-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAk1BMVEUAAADEjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL7EjL74+l07AAAAMHRSTlMAAQIDBQcKCxQeHyAiIyYqLjA2PD5HT1VfYWJ4goOFiIymrbS3ucXH3N7k7/P3+/1dmZncAAAAcElEQVQIHQXBBUICAQAAwT1UDMRC7A4Ezpj/v86ZqtnLZvy8mlQ1PALbg6oHgHG/DlkOrOK1nlnER5i2ZjmwCqd9A+CiL8YR6z9m3XK0e744Ht797rT3YzufNH3irjoDeBuq5htwP1TVcHJ9czmt+gcddhMvfLHpNQAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}

.btn-green {
	background: #98D9A8;
	color:white;
	font-weight: bold;
}

.btn-red {
	background: #E84C4C;
	color:white;
	font-weight: bold;
}
.btn-blue {
	background: #60B0F0;
	color:white;
	font-weight: bold;
}
.btn-orange {
	background: #F0B080;
	color:white;
	font-weight: bold;
}
