/* Main */
* { box-sizing: border-box; }
.hide { display: none; }

a { text-decoration: none; }
.header, .pagination {
		-webkit-user-select:  none;
	   -moz-user-select:  none;
		    user-select:  none;
}

body {
	font-size: 14px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

#mascot {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 480px;
	max-width: 100%;
	height: 60vh;
	z-index: -9999;
}

.header {
	z-index: 9999;
	position: fixed;
	width: 100%;
	top: 0; left: 0;
	height: 60px;
	border-bottom: 1px solid;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}

.header .container {
	position: relative;
}

.header .container > div {
	line-height: 60px;
	vertical-align: middle;
	padding: 0 1rem;
}

.h-right > div {
float:  right; }

.h-left {
	position: absolute;
	left:  0;
	text-align: left;
}
.h-right {
	position: absolute;
	right:  0;
	text-align: right;
}
.h-logo { height: 60px; }
.h-logo, .h-nav {
	display: inline-block;
	float: 	left;
}
.header .h-logo img {
	height:  60px;
	padding: 5px;
}

.header .nav-btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	text-decoration: none;
	background: none;
	border: none;
}


.header .h-search { margin-right: 10px; }
.header .h-search .form-input { font-size: 80%; }

.header .h-search select.form-input { max-width: 110px !important; }

.form-input {
	border-radius: 3px;
	padding: 5px 5px ;
	height: 30px;
	border: 1px solid;
}

select.form-input {
	-webkit-appearance: none;
  	-moz-appearance: none;
  	padding-right: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 48'%3E%3Cpath fill='%23676767' d='M24 34l18-20H6'/%3E%3C/svg%3E");
  background-position-x: right;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: auto 40%;
}

.form-icon {
	background:  none ;
	border-color: transparent !important;
	box-shadow: none;
	pointer-events: none;
}

.form-input.search-box { margin-right: -20px; }
.form-input.search-box + .search-icon {
	left:  -5px;
	position: relative;
 	padding: 0px;
 	width: 20px;
	box-shadow: none;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAjUlEQVQIHQXBoU1DYQCAwXviUQw4LHlYJAnBYQmqW3wdpkk3wLAEAxCSCkLSFSowBIFCIH7uQCfd9dgCALrvr9Fo9NopoItG21ZNLR17A/TcHqCl0RXopw1AU6MH0KEdQKtGN6B1o0ugbb/NoKmXRrs27Rt9dw5oat2hr5667r3PzgAANPfREQAAzd3yD3GyOPKUaUBTAAAAAElFTkSuQmCC")
				no-repeat
				center center;
  border: none;
	vertical-align: middle;
}

.header .h-user {
	display: inline-block;
}

.header .h-user .nav-btn {
	float: right;
	padding-right: 0;
	height: 60px;
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: right;
}
.header .h-user button:focus { outline: none; }

.header .h-user .user-avatar {
	float: right;
	height: 40px; width: 40px;
	margin: 10px 5px 10px 10px;
	border: 1px solid;
 }

.header .h-user .user-menu {
	display: none;
	margin-left: 5px;
	border: 1px solid;
	border-top: none;
	border-radius: 0 0 5px 5px;
}
.header .h-user .user-menu .nav-btn {
    float: none;
    display: block;
    padding: 0px 10px;
    height: 43px;
    line-height: 40px;
    text-align: left;
}

.header .h-user .nav-btn:focus + .user-menu,
.header .h-user .user-menu:hover {
	display: block;
}

.header .h-user .user-info {
	font-size: 10pt;
	font-weight: bold;
	display: block;
	float: left;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	max-width: 100px;

	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 0;
}
.user-avatar {
	border-radius: 3px;
	overflow:  hidden;
}
.user-avatar img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#content { position: relative; top: 70px;   }
/* #content { padding-top: 70px;  } */
.content { border-radius: 3px; padding: 5px 10px; }

.box {
	overflow: hidden;
	border-radius: 4px;
	border:  1px solid;
	padding:  10px;
	text-align: center;
}

.categories a {
	display: 	inline-block;
	width: 	115px;
	padding: 10px 5px;
}

.results { padding: 0 }

table {
	width: 100%;
	border-collapse:collapse;
	table-layout: fixed;
}


th { height: 40px;}
.home-td { height: 37px; }

th, .home-td {
	border-bottom:  1px solid;
	text-align: center;
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.tr-cat a { display: block; }
.tr-cat img { margin-top: 2px; }


th { border-bottom-width: 2px; }

.tr-cat { width: 90px; text-align: left; }
.tr-name { width: auto; text-align: left; white-space: normal; font-weight: bold; }
.tr-links { width: 66px; }
.tr-size { width: 90px; }
.tr-se, .tr-le, .tr-dl { width: 60px; }
.tr-date { width: 90px; }

.sort-arrows { margin-left: 0.2rem; }
.sort-arrows span {
	font-size: 	100%;
	letter-spacing: -0.3rem;
}
.sort-arrows .sortarrowdim { opacity: 0.25; }
.sort-arrows a:hover { opacity: 0.8; }
.sort-arrows .active { opacity: 	1; }

.pagination {
	text-align: center;
	padding: 1rem 1rem 0 1rem;
}
.pagination li {
	border:  1px solid;
	display: inline-block;
	padding: 0.4rem 0.5rem;
	border-right-width: 0;
	list-style-type: none;
	text-align: center;
}

.pagination li:first-child { border-radius: 3px 0 0 3px; }
.pagination li:nth-last-child(2)  { border-radius: 0 3px 3px 0; border-right-width: 1px !important}


#footer { width: 100%; bottom: 0; left: 0; margin-top: 40px;}

.footer {
	text-align: center;
	padding: 1rem 0 1.2rem 0;
 }

.footer-opt {
	bottom: 0;
	font-size: 90%;
	margin-bottom: 1.2rem;
}

html, body {
  height: 100%;
}



/* holy fucking shit fuck responsive design */

@media (min-width: 960px)  { .visible-md { display: none } }
@media (max-width: 960px)  {
	.hide-md {
		display: none;
	}

	.visible-md { display: block }

	.header .h-search { margin-right: 10px; }
	.header .h-search input { width: 90px !important; }
	.header .h-search input:focus { width: 150px !important; }
}

@media (max-width: 810px)  {

	.hide-xs {
		display: none !important;
	}

}

@media (max-width: 810px) {
	.torrent-info-row > td {
		display: block;
	}
	.torrent-info-td {
		width: 100% !important;
	}
	td.torrent-view-td.torrent-info-data {
		padding-left: 5px;
	}
	.profile-main {
		display: inline-grid !important;
	}
	.profile-panel, .profile-content {
		width: 100% !important;
		margin-bottom: 20px;
	}
}


/* Default Theme */

body { color: #333; background: #ededed; }

.header, .box, .pagination li, .user-menu { box-shadow: 1px 3px 4px rgba(0,0,0,0.1) }

#mascot { background: url('/img/renchon.svg') no-repeat right bottom transparent; }

a { color: #196759; }
a:hover { color:  #238BC7; }

.header {
	background: #111; /* Old browsers */
	background:    -moz-linear-gradient(bottom, #222 0%, #111 100%);
	background: -webkit-linear-gradient(bottom, #222 0%, #111 100%);
	background:         linear-gradient(to top, #222 0%, #111 100%);
	border-color: #444;
}
.header .nav-btn { color: #ccc; }
.header .nav-btn:hover { color: #d5d5d5; }

.box, .pagination li {
	background: rgba(255,255,255, 0.8);
	border-color: #BBC9CF !important;
}

.form-input { border-color: #BBC9CF !important; background: #fafafa; color: #666; }

.form-input.btn:hover { background: rgba(192,192,192,0.2); }

.form-input:focus { box-shadow: 0 0 5px #fff; }


select:after {
	content: "AAAAA";
}

.header .h-user .user-avatar {
	background: #111;
	border-color: #444;
}
.header .h-user .user-menu {
	background: #222; /* Old browsers */
	background:    -moz-linear-gradient(bottom, #333 0%, #222 100%);
	background: -webkit-linear-gradient(bottom, #333 0%, #222 100%);
	background:         linear-gradient(to top, #333 0%, #222 100%);
	border-color: #444;
}

table thead { background: #fff; }


th a { color: #6E96AA; }
th { border-color:  #ddd !important; }
td { border-color:  #ccc !important; }

tr:nth-child(even) { background: rgba(200,200,200,0.15); }
td.tr-se { color: #22A243; }
td.tr-le { color: #E84C4C; }

.aplus { background: hsla(200, 100%, 70%, 0.2); }
.trusted { background: hsla(100, 100%, 70%, 0.2); }
.remake { background: hsla(30, 100%, 70%, 0.2); }

.pagination .active { background: #d5d5d5; color: #222; }
.pagination .disabled { color: #d5d5d5; cursor: unset; }

.sukebei { color: #9C7575; }
.sukebei a { color: #893636; }
.sukebei a:hover { color:  #C7235D; }
.sukebei th { color: #9C7575; }
.sukebei th a { color: #893636; }
.sukebei #mascot { background-image: url('/img/mafuyu.svg'); }

.up-input {
	width: 100%;
}
.input-label {
	font-size: large;
	font-weight: bold;
}
.up-btn {
	margin: 10px 0;
}

.profile-sidebar {
	display: inline-block;
	text-align: center;
}
.profile-usertitle {
	margin-top: 5px;
	border-radius: 3px;
}

.profile-usertitle-job {
	font-style: italic;
}
.profile-userpic img {
	border-radius: 6px;
}
.profile-usermenu {
	display: inline-grid;
}
.profile-userbuttons {
	display: inline-flex;
	margin-bottom: 5px;
}

.torrent-hr {
	font-size: large;
	font-weight: bold;
}

.torrent-info-label {
	width: 15%;
	vertical-align: middle;
	font-weight: bold;
}
.torrent-info-data {
	width: 60%;
}
.torrent-info-row {
	text-align: left;
}
.torrent-info-td {
	padding: 4px 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.torrent-info-box {
	border: 1px solid #ccc;
	border-radius: 4px;
}
.comment-box {
	margin-top: 10px;
	padding-left: 7px;
	margin-right: 30px;
	margin-left: 30px;
}
.comment-form {
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
}
.comment-index {
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}
.torrent-buttons {
	margin-top: 20px;
	margin-right: 10px;
	font-size: large;
	text-align: right;
}

.profile-panel {
	width: 30%;
}
.profile-main {
	display: flex;
	justify-content: space-between;
}
.profile-content {
	width: 70%;
}
.magnet-icon {
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="#CFD8DC"><path d="M9 35.938h7V43H9zM32 35.938h7V43h-7z"/></g><path fill="#F44336" d="M24 5v7c4.648 0 8 3.246 8 8v16h7V20.34C39 11.87 32.285 5 24 5z"/><path fill="#1976D2" d="M9 20.34V36h7V20c0-4.754 3.35-8 8-8V5C15.715 5 9 11.868 9 20.34z"/></svg>');
	background-size: 24px;
	height: 24px;
	width: 24px;
}
.download-icon {
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g fill="#1565C0"><path d="M24 37.1L13 24h22M20 4h8v4h-8zM20 10h8v4h-8z"/><path d="M20 16h8v11h-8zM6 40h36v4H6z"/></g></svg>');
	background-size: 24px;
	height: 24px;
	width: 24px;
}
.upload-icon {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g fill="#009688"><path d="M24 10.9L35 24H13M20 40h8v4h-8zM20 34h8v4h-8z"/><path d="M20 21h8v11h-8zM6 4h36v4H6z"/></g></svg>');
	background-size: 24px;
	height: 24px;
	width: 24px;
}
.rss-icon {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#FF9800" d="M42 37c0 2.762-2.238 5-5 5H11c-2.76 0-5-2.238-5-5V11c0-2.762 2.24-5 5-5h26c2.762 0 5 2.238 5 5v26z"/><path fill="#FFF" d="M18 33.5c0-1.94-1.563-3.5-3.5-3.5S11 31.56 11 33.5c0 1.93 1.563 3.5 3.5 3.5s3.5-1.57 3.5-3.5z"/><path fill="none" stroke="#FFF" stroke-width="4" stroke-miterlimit="10" d="M11 23h1c7.405 0 13 5.595 13 13v1M11 13h1c12.713 0 23 10.287 23 23v1"/></svg>');
	background-size: 24px;
	height: 24px;
	width: 24px;
}
.faq-icon {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#558B2F" d="M15 40h23l6 6V25c0-2.2-1.8-4-4-4H15c-2.2 0-4 1.8-4 4v11c0 2.2 1.8 4 4 4z"/><path fill="#1B5E20" d="M28.8 32.8h-3.6l-.7 2.1h-2.2l3.7-10h1.9l3.7 10h-2.2l-.6-2.1zm-3.1-1.6h2.5L27 27.4l-1.3 3.8z"/><path fill="#8BC34A" d="M33 25H10l-6 6V8c0-2.2 1.8-4 4-4h25c2.2 0 4 1.8 4 4v13c0 2.2-1.8 4-4 4z"/><path fill="#FFF" d="M25.4 14.2c0 1-.2 1.8-.5 2.5s-.7 1.3-1.3 1.7l1.7 1.3-1.3 1.2-2.2-1.7c-.2 0-.5.1-.8.1-.6 0-1.2-.1-1.8-.3-.5-.2-1-.6-1.4-1-.4-.4-.7-1-.9-1.6-.2-.6-.3-1.3-.3-2.1v-.4c0-.8.1-1.5.3-2.1.2-.6.5-1.2.9-1.6.4-.4.8-.8 1.4-1 .5-.2 1.1-.3 1.8-.3.6 0 1.2.1 1.8.3.5.2 1 .6 1.4 1 .4.4.7 1 .9 1.6.2.6.3 1.3.3 2.1v.3zm-2.2-.5c0-1.1-.2-1.9-.6-2.4-.4-.6-.9-.8-1.6-.8-.7 0-1.3.3-1.6.8-.4.6-.6 1.4-.6 2.4v.5c0 .5.1 1 .2 1.4.1.4.2.8.4 1 .2.3.4.5.7.6.3.1.6.2.9.2.7 0 1.3-.3 1.6-.8.4-.6.6-1.4.6-2.5v-.4z"/></svg>');
	background-size: 24px;
	height: 24px;
	width: 24px;
}
.fap-icon {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#FF3D00" d="M32.635 8c-3.608 0-6.78 1.828-8.635 4.597C22.145 9.827 18.973 8 15.365 8 9.64 8 5 12.598 5 18.27 5 28.486 21.15 33.41 24 40c2.85-6.59 19-11.428 19-21.73C43 12.597 38.36 8 32.635 8"/></svg>');
	background-size: 24px;
	height: 24px;
	width: 24px;
}
.fun-icon {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><circle cx="24" cy="24" r="19" fill="#FFCA28"/><circle cx="17" cy="23" r="4" fill="#6D4C41"/><circle cx="15.5" cy="21.5" r="1.5" fill="#FFF"/><circle cx="31" cy="23" r="4" fill="#6D4C41"/><circle cx="29.5" cy="21.5" r="1.5" fill="#FFF"/><path d="M28 32c0 2.21-1.79 4-4 4s-4-1.79-4-4" fill="none" stroke="#B76C09" stroke-width="2"/></svg>');
	background-size: 24px;
	height: 24px;
	width: 24px;
}
/* Filelist */
#filelist-control {
	cursor: pointer;
}
#filelist-control::before {
	content: "\25B6   ";
}
#filelist-control[data-filelist-open="true"]::before {
	content: "\25BC   ";
}

.tr-filelist {
	--nest-level: 0;
}
.caret-down-icon {
	background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#2196F3" d="M24 34l18-20H6"/></svg>') no-repeat center center;
	background-size: 24px;
	vertical-align: middle;
}
.tr-filelist td {
	padding: 4px 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* The margin that gives the tree-like effect, based on the nest-level */
.tr-filelist td:first-child::before {
	margin-left: calc(var(--nest-level) * 2rem);
	margin-right: 0.5rem;
}
/* Filesize column */
.tr-filelist td:nth-child(2) {
	text-align: center;
}

.tr-folder {
	cursor: pointer;
}
/* The folder or file icon */
.tr-folder td:first-child::before {
	content: " ";
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#FFA000" d="M40 12H22l-4-4H8c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z"/><path fill="#FFCA28" d="M40 12H8c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V16c0-2.2-1.8-4-4-4z"/></svg>');
	background-size: 24px;
	width: 24px;
	height: 24px;
}
.tr-file td:first-child::before {
	content: " ";
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#90CAF9" d="M40 45H8V3h22l10 10"/><path fill="#E1F5FE" d="M38.5 14H29V4.5"/></svg>');
	background-size: 24px;
	width: 24px;
	height: 24px;
}

#torrent-name {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-weight: bold;
}
