/* Main */
* { box-sizing: border-box; }
.hide { display: none; }

a { text-decoration: none; }
.header, .pagination {
	-webkit-user-select:  none;
	-moz-user-select:  none;
	user-select:  none;
}

body {
	font-size: 14px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

#mascot {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	width: 60vh;
	max-width: 100%;
	height: 60vh;
	-webkit-tap-highlight-color: transparent;
}

.header {
	z-index: 3;
	position: fixed;
	width: 100%;
	top: 0; left: 0;
	height: 60px;
	border-bottom: 1px solid;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
.content {
	position: relative;
	z-index: 2;
}

.header .container {
	position: relative;
}

.header .container > div {
	line-height: 60px;
	vertical-align: middle;
	padding: 0 1rem;
}

.h-right > div {
float:  right; }

.h-left {
	position: absolute;
	left:  0;
	text-align: left;
}
.h-right {
	position: absolute;
	right:  0;
	text-align: right;
}
.h-logo { height: 60px; }
.h-logo, .h-nav {
	display: inline-block;
	float: 	left; 
	/* Property is ignored due to the display. With 'display: inline-block', float properties have no effect. */
}
.header .h-logo img {
	height:  60px;
	padding: 5px;
}

.header .nav-btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	text-decoration: none;
	background: none;
	border: none;
}


.header .h-search { margin-right: 10px; }
.header .h-search .form-input { font-size: 80%; }

.header .h-search select.form-input { max-width: 110px !important; }

.form-input {
	border-radius: 3px;
	padding: 5px 5px ;
	height: 30px;
	border: 1px solid;
}

select.form-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 1.5rem;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 48"><path fill="%23676767" d="M24 34l18-20H6"/></svg>');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 40%;
}

.form-icon {
	background:  none ;
	border-color: transparent !important;
	box-shadow: none;
	pointer-events: none;
}

.form-input.search-box { margin-right: -20px; }
.form-input.search-box + .search-icon {
	left: -5px;
	position: relative;
 	padding: 0;
 	width: 16px;
	box-shadow: none;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAS1BMVEUAAADFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMa1fVUnAAAAGHRSTlMAAgQHChRUVllwcZWipa2yurzHyOjx8/X7KHBhAAAAXklEQVQIHQXBAQKCIAAEsAlaYKWlWPf/l7ahtON7tAIsI0kyFigja1V7RkFLBz0NZyqoOfALIBfOVFDzRksHa24oI72qPZlhGUmSZJ+gtPP63Oct+wTAtOUFgOn5+AP1jwU8n7NnxAAAAABJRU5ErkJggg==')
			no-repeat center center;
	border: none;
	vertical-align: middle;
}

.header .h-user {
	display: inline-block;
}

.header .h-user .nav-btn {
	float: right;
	padding-right: 0;
	height: 60px;
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: right;
}
.header .h-user button:focus { outline: none; }

.header .h-user .user-avatar {
	float: right;
	height: 40px; width: 40px;
	margin: 10px 5px 10px 10px;
	border: 1px solid;
 }

.header .h-user .user-menu {
	display: none;
	margin-left: 5px;
	border: 1px solid;
	border-top: none;
	border-radius: 0 0 5px 5px;
}
.header .h-user .user-menu .nav-btn {
	float: none;
	display: block;
	padding: 0px 10px;
	height: 43px;
	line-height: 40px;
	text-align: left;
}

.header .h-user .nav-btn:focus + .user-menu,
.header .h-user .user-menu:hover {
	display: block;
}

.header .h-user .user-info {
	font-size: 10pt;
	font-weight: bold;
	display: block;
	float: left;
	height: 60px;
	line-height: 60px;
	/* Property is ignored due to the display. With 'display: block', vertical-align should not be used. */
	vertical-align: middle;
	max-width: 100px;

	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 0;
}
.user-avatar {
	border-radius: 3px;
	overflow:  hidden;
}
.user-avatar img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#content { position: relative; top: 70px;   }
/* #content { padding-top: 70px;  } */
.content { border-radius: 3px; padding: 5px 10px; }

.box {
	overflow: hidden;
	border-radius: 4px;
	border:  1px solid;
	padding:  10px;
	text-align: center;
}

.categories a {
	display: 	inline-block;
	width: 	115px;
	padding: 10px 5px;
}

.results { padding: 0 }

table {
	border-collapse:collapse;
	table-layout: fixed;
}


th { height: 40px;}
.home-td { height: 37px; }

th, .home-td {
	border-bottom:  1px solid;
	text-align: center;
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.tr-cat a { display: block; }
.tr-cat img { margin-top: 2px; }


th { border-bottom-width: 2px; }

.tr-cat { width: 90px; text-align: center; }
.tr-name { width: auto; text-align: left; white-space: normal; word-break: break-word; font-weight: bold; }
.tr-links { width: 66px; }
.tr-size { width: 90px; }
.tr-se, .tr-le { font-weight: bold; }
.tr-se, .tr-le, .tr-dl { width: 50px; }
.tr-date { width: 90px; }

.sort-arrows { margin-left: 0.2rem; }
.sort-arrows span {
	font-size: 	100%;
	letter-spacing: -0.3rem;
}
.sort-arrows .sortarrowdim { opacity: 0.25; }
.sort-arrows a:hover { opacity: 0.8; }
.sort-arrows .active { opacity: 1; }

.pagination {
	text-align: center;
	padding: 1rem 1rem 0 1rem;
	position: relative;
	z-index: 2;
}
.pagination li {
	border:  1px solid;
	display: inline-block;
	padding: 0.4rem;
	border-right-width: 0;
	list-style-type: none;
	text-align: center;
	min-width: 35px;
}

.pagination a:first-child li { border-radius: 3px 0 0 3px; }
.pagination a:nth-last-child(2) li { border-radius: 0 3px 3px 0; border-right-width: 1px !important}


#footer { width: 100%; bottom: 0; left: 0; margin-top: 40px;}

.footer {
	text-align: center;
	padding: 1rem 0 1.2rem 0;
 }

.footer-opt {
	bottom: 0;
	font-size: 90%;
	margin-bottom: 1.2rem;
}

html, body {
  height: 100%;
}



/* holy fucking shit fuck responsive design */

@media (min-width: 960px)  { .visible-md { display: none } }
@media (max-width: 960px)  {
	.hide-md {
		display: none;
	}

	.visible-md { display: block }

	.header .h-search { margin-right: 10px; }
	.header .h-search input { width: 90px !important; }
	.header .h-search input:focus { width: 150px !important; }
}

@media (max-width: 810px)  {

	.hide-xs {
		display: none !important;
	}
#description-box img {
	width: 100%;
	height: auto;
}

}

@media (max-width: 810px) {
	.torrent-info-row > td {
		display: block;
	}
	.torrent-info-td {
		width: 100% !important;
	}
	td.torrent-view-td.torrent-info-data {
		padding-left: 5px;
	}
	.profile-main {
		display: inline-grid !important;
	}
	.profile-panel, .profile-content {
		width: 100% !important;
		margin-bottom: 20px;
	}
}


/* Default Theme */

body { color: #333; background: #ededed; }

.header, .box, .pagination li, .user-menu { box-shadow: 1px 3px 4px rgba(0,0,0,0.1) }

#mascot { background: url('/img/renchon.svg') no-repeat right bottom transparent; }

a { color: #196759; }
a:hover { color:  #238BC7; }

.header {
	background: #111; /* Old browsers */
	background:    -moz-linear-gradient(bottom, #222 0%, #111 100%);
	background: -webkit-linear-gradient(bottom, #222 0%, #111 100%);
	background:         linear-gradient(to top, #222 0%, #111 100%);
	border-color: #444;
}
.header .nav-btn { color: #ccc; }
.header .nav-btn:hover { color: #d5d5d5; }

.box, .pagination li {
	background: rgba(255,255,255, 0.8);
	border-color: #BBC9CF !important;
}

.form-input { border-color: #BBC9CF !important; background: #fafafa; color: #666; }

.btn:hover, .up-btn:hover { background: rgba(192,192,192,0.2); }

.form-input:focus { box-shadow: 0 0 5px #fff; }


select:after {
	content: "AAAAA";
}

.header .h-user .user-avatar {
	background: #111;
	border-color: #444;
}
.header .h-user .user-menu {
	background: #222; /* Old browsers */
	background:    -moz-linear-gradient(bottom, #333 0%, #222 100%);
	background: -webkit-linear-gradient(bottom, #333 0%, #222 100%);
	background:         linear-gradient(to top, #333 0%, #222 100%);
	border-color: #444;
}

table thead { background: #fff; }


th a { color: #6E96AA; }
th { border-color:  #ddd !important; }
td { border-color:  #ccc !important; }

td.tr-se { color: #22A243; }
td.tr-le { color: #E84C4C; }

/* Original Nyaa colors, do NOT change! */
.aplus { background: #60B0F0; }
.trusted { background: #98D9A8; }
.remake { background: #F0B080; }

.pagination .active { background: #d5d5d5; color: #222; }
.pagination .disabled { color: #d5d5d5; cursor: unset; }

.sukebei { color: #9C7575; }
.sukebei a { color: #893636; }
.sukebei a:hover { color:  #C7235D; }
.sukebei th { color: #9C7575; }
.sukebei th a { color: #893636; }
.sukebei #mascot { background-image: url('/img/mafuyu.svg'); }

.up-input {
	width: 100%;
	margin-bottom: 10px;
}
.input-label {
	font-size: large;
	font-weight: bold;
}
.up-btn {
	margin: 10px 0;
}

.profile-sidebar {
	display: inline-block;
	text-align: center;
}
.profile-usertitle {
	margin-top: 5px;
	border-radius: 3px;
}

.profile-usertitle-job {
	font-style: italic;
}
.profile-userpic img {
	border-radius: 6px;
}
.profile-usermenu {
	display: inline-grid;
}
.profile-userbuttons {
	display: inline-flex;
	margin-bottom: 5px;
}

.torrent-hr {
	font-size: large;
	font-weight: bold;
}

.torrent-info-label {
	width: 15%;
	vertical-align: middle;
	font-weight: bold;
}
.torrent-info-data {
	width: 60%;
}
.torrent-info-row {
	text-align: left;
}
.torrent-info-td {
	padding: 4px 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.torrent-info-box {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.comment-box {
	margin-top: 10px;
	padding-left: 7px;
	margin-right: 30px;
	margin-left: 30px;
}
.comment-form {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	padding-bottom: 5px;
}
.comment-index {
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}
.torrent-buttons {
	margin-top: 20px;
	margin-right: 10px;
	font-size: large;
	text-align: right;
}

.profile-panel {
	width: 30%;
}
.profile-main {
	display: flex;
	justify-content: space-between;
}
.profile-content {
	width: 70%;
}
.magnet-icon {
	display: inline-block;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAbFBMVEUAAAA2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWsVx+37AAAAI3RSTlMAAQIDBQgKDhItLklOT1JdY2Z4e3x/kZiwx8jX5unt7/f7/b5l+wAAAABrSURBVBhXhY7JEgFBFARTa4ydwbONNf//H116Ilo4qFNWHiqKTn0ngEKqZqCn/+KsdgOgou9sImIPwDYidvxu3FQnQFI1cVI9jsit6h1W1jlAftaiAaZVXwIwe5T6mpcreXFRr+tx/W/YwwejJxM5Y6lK9QAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.download-icon {
	display: inline-block;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAV1BMVEUAAAA2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWs2iWudYQmEAAAAHHRSTlMAAQIDBAYIDCAxO0pNYmN3ibS3urzBxcfM6+35eVmfrAAAAGZJREFUGFeNzkkOgCAMQNG2WnEecNbe/5wiRYM7f0iAF9IAozwdFdyJmdwloUTyufXA1oE/pEvzBUjX+guQnej2XmfupOoW+xBeiFJA0jBA935tULBleGEkQBEG8E/YJO4gQI4juAC37QvMhMtgFAAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.upload-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAaVBMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMypTxUEAAAAInRSTlMAAQUGEBESFh8jJS0uLzE0PlZZXV9+f4Wiz9PX4OL19/n7MnYmFwAAAGlJREFUGBldwYkSgiAARdFnO0aLUVCWFvf/PzIaGgY9R5kjGlUcEI0Kx080+ruQxZ2yawhveIZwUDGAV20Ar9oAXrUX3JRtrLV7Hbtuu7DJWiPJ/WTt+UEyihlRfFa0LeqZ6NUsJxrNfQHzXw5rV9iDdwAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.rss-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAq1BMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMySzfq1AAAAOHRSTlMAAQMEBQYHCAkKCwwgMEdKS01QUVJYWWNka3eDho6Pm56rr7K8wMPFx8jP0dna3ODm6fHz9ff7/TynujoAAACGSURBVBgZBcGHIgIAAEDBZ4WQ7J2ZlZ1x//9l7mr0DMDLQW0DAMfNAIB5PC4OtyYA4r5q7RIQ5jf7y7UHBPyOawfEtI3DH+c1gXiohjO7rfwifJ8NWv8y7BTh/vpjtbGTNhHvdXXRwGtLiM/Fbv9qbqE/mvH5xuMdT1PmjQCAoxrNAHg56B9hpSk315NnvQAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.faq-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAt1BMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMxqc1leAAAAPHRSTlMAAQYIDA0OFxgcJCYnLjVNTk9RVlleX2Z1d3+AiYuOkZKUm52epqirr7C3uby+x8/V19na3N7m6O/3+f0LybYEAAAAmUlEQVQYGW3B10LCQAAAwT1CUKREg2Cl2cCGIvbs/38Xd4ZHZ0iaw+Xn+23RoBZOrVVHJOFJvR6erNQp0aW+5ETdbx1AW90ndFpwoFXGubrp3vgKQS1Y+2eRQ1Od82uyALJHdcnapA97P0ZzLkxW4/GbSUHbpA8joyqDiVEPBkbHQHhWr8ryQZ2RhDNrVclOPrr/+rg7bPCfLWJTH4pY+Ot0AAAAAElFTkSuQmCC');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.fap-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAXVBMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzQDM+LAAAAHnRSTlMAAQIDBAUGB0BBR0qJjKaosrm6vL7AwcPFzNPe4PPKfDrFAAAAXklEQVQYGY3B2Q6CMABFwWORFmQVUGS7//+ZNA0hNL4ww79KXm1dLa+EQsGyKnjxU+TLpsjGW5EPmSI5j0EXHeBmneYUz046TJYgHRWMTw5JL69LOJlWag0XpmkMN+2thhBPURuEQAAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
.fun-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAATlBMVEUAAADFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbFyMbNe0M6AAAAGnRSTlMAAQIDERIqLTs8TU5Pfn+ClZeam52go9rg4utT698AAABiSURBVAgdBcEJAoIgAACwISCWGnih/v+jbTDuz3OMQLxqDiHXK0KfgM+FsmobbVNHzqQ1WpMP3gAQHt5gHhhm4eFMvmuM6yzvlB/LfS/UEX0Cpgti/6UQ0tojUM73PQsAAH+VkgQhR+bBQQAAAABJRU5ErkJggg==');
	background-size: 13px;
	height: 13px;
	width: 13px;
}
/* Filelist */
.filelist-control {
	cursor: pointer;
}
.filelist-control::before {
	content: "\25B6   ";
}
input#show-filelist:checked ~ .filelist-control::before {
	content: "\25BC   ";
}

input#show-filelist {
	display: none;
}

#filelist {
	display: none;
}

input#show-filelist:checked ~ #filelist {
	display: block;
}

#filelist tr {
	background: none; /* Striped lines will look really ugly due to how it's drawn */
}
.table-filelist {
	width: 100%;
}
.tr-filelist {
	--nest-level: 0;
}
.caret-down-icon {
	background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="%232196F3" d="M24 34l18-20H6"/></svg>') no-repeat center center;
	background-size: 24px;
	vertical-align: middle;
}
.tr-filelist td {
	padding: 4px 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* The margin that gives the tree-like effect, based on the nest-level */
.tr-filelist td:first-child::before {
	margin-left: calc(var(--nest-level) * 2rem);
	margin-right: 0.5rem;
}
/* Filesize column */
.tr-filelist td:nth-child(2) {
	width: 20%;
	text-align: center;
}
/* Input that show/hides each folder */
input.filelist-checkbox {
	display: none;
}
input.filelist-checkbox:checked + table.table-filelist {
	display: none;
}

.tr-folder label {
	cursor: pointer;
}
/* The folder or file icon */
.tr-folder td:first-child::before {
	content: " ";
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="%23FFA000" d="M40 12H22l-4-4H8c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z"/><path fill="%23FFCA28" d="M40 12H8c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V16c0-2.2-1.8-4-4-4z"/></svg>');
	background-size: 24px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.tr-file td:first-child::before {
	content: " ";
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="%2390CAF9" d="M40 45H8V3h22l10 10"/><path fill="%23E1F5FE" d="M38.5 14H29V4.5"/></svg>');
	background-size: 24px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

#torrent-name {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	word-wrap: break-word;
}

.user-form {
	margin-right: 30%;
	margin-left: 30%;
}

#description-box {
	padding-right: 14px;
	padding-left: 14px;
}

/* Markdown editor fixes */
.editor-toolbar.fullscreen {
	top: 60px;
}
.CodeMirror-fullscreen {
	top: 110px;
}
.editor-preview-side {
	top: 110px;
}
