

/* Torrent status colors */
.remake {
  background-color: rgb(240, 176, 128);
}
.trusted {
  background-color: #a3e9a4;
}
.aplus {
  background-color: #81d3fa;
}

/* modified copy of NyaaTorrent theme */
#mainmenu, #mainmenu .dropdown-menu{
    background: #263238;
    color: white;
}
#mainmenu {
	position: fixed;
    width: 100%;
    z-index: 4;
    border: 0px solid white;
}
#mainmenu a {
	background: none;
	color: white;
}

#mainmenu .divider {
	background: black;
}

#container {
    padding-top: 1.25em;
    background: white;
}

#container.cont-home {
     background: white url(/img/renchon.png) no-repeat;
}
#container.cont-view {
     background: white url(/img/renchon.png) no-repeat;
     background-size: 61px;
}

body {
    background-color: #ececec;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.torrentNav {
	text-align: center;
}

.pagination > .active > a {
    background: #ececec;
    border-color: #ececec;
    color: #337ab7; /* restore usual text color */
}

/* Links, Text */
a {
	color: #106655;
	text-decoration : none;
}

.download-btn {
    font-size: 24px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.torrent-info .name {
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 3px;
	padding-top: 3px;
	word-wrap: break-word;
}

.torrent-hash {
	font-family: monospace;
}

.torrent-info .filesize {
	white-space: nowrap;
}

.comment-row td:first-of-type {
	vertical-align: top;
	text-align: right;
}

/* Table style & fixes */
.table > tbody > tr > td {
    /* fix bootstrap uglyness */
    vertical-align: middle;
}

.table > tbody > tr > th, .table > tbody > tr > td {
	padding: 4px;
}

.captcha-container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 240px;
}

tr.torrent-info td.date {
	white-space: nowrap;
}

.custom-table-hover > tbody > tr:hover {
	opacity: 0.82;
}

.comment-row {
	border-top: 1px solid #ddd;
}

div.container div.blockBody:nth-of-type(2) table{table-layout:fixed;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:first-of-type, div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(5){width:10%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(3){width:15%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(4){width:19%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:last-of-type{width:6%;}

/* Mobile-friendly main table */
@media only screen and (max-width: 700px) {
	table, thead, tbody, tr {
		display: block;
	}

	th {
		display: none;
	}

	td {
		display: inline-block;
	}

	td:nth-of-type(1), td:nth-of-type(2) {
		display: block;
	}

	.table > tbody > tr > td {
		border: none;
	}
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.center-image {
	max-width: 100%;
	max-height: 80vh;
}

/* the curved edges triggered my autism */
.navbar {
    border-radius: 0px;
}

:target {
    background-color: #e5eecc;
}

#mainmenu button .search_text {
	display: none;
}
#mainmenu .navbar-form select.form-control
{
	width: 12rem;
}
.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

#mainmenu .badgemenu .profile-image {
  line-height: 35px;
}

#mainmenu .navbar-header, #mainmenu .navbar-nav, #mainmenu .navbar-form {
  padding-top: 10px;
}

#mainmenu .badgemenu {
  padding-top: 0;
}

/* PROFILE PAGE */
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #182430;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
/* Night mode switcher  */
#mainmenu a.nightswitch {
    background: transparent url(/img/sun.png) no-repeat;
    background-size: 24px;
    margin-top: 10px;
    margin-left: 3px;
    width: 24px;
}
footer {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-family: cursive;
  color: #CCC;
  text-shadow: 0px -1px #999999;
}