/*Don't make changes to layout here, only colours*/
/* Torrent status colors */
.remake {
  background-color: #795c46;
}
.trusted {
  background-color: #3d743e;
}
.aplus {
  background-color: #487589;
}


#mainmenu {
    background: #263238;
    color: #f2f2f2;
    border: 0px solid #263238;
}

#mainmenu a {
	color: #eff5f5;
}

#container {
    background-color: #29363d;
}

#container.cont-home {
     background: #29363d url(/img/megumin.png) no-repeat;
}
#container.cont-view {
     background: #29363d url(/img/megumin.png) no-repeat;
     background-size: 75px;
}

body {
    background-color:#282A2E;
    color: #eff5f5;
}


.pagination > .active > a {
    background: #ececec;
    border-color: #ececec;
    color: #337ab7; /* restore usual text color */
}

/* Links, Text */
a {
	color: #81a2be;
}
.btn-success {
    color: #fff;
    background-color: #b294bb;
    border-color: #b294bb;
}

:target {
    background-color: #585b4f;
}

/* style the dropdown member menu */
.nav > .dropdown.open, .profile-image[aria-expanded="true"], .nav ul.dropdown-menu {
	background: #282A2E;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background: #263238;
}
/* Night mode switcher  */
#mainmenu a.nightswitch {
    background-image: url(/img/moon.png);
}
