/* Torrent status colors */
.remake {
  background-color: rgb(240, 176, 128);
}
.trusted {
  background-color: #a3e9a4;
}
.aplus {
  background-color: #81d3fa;
}

/* modified copy of NyaaTorrent theme */
nav#mainmenu {
    background: #263238;
    position: fixed;
    color: white;
    width: 100%;
    z-index: 4;
}

nav#mainmenu a {
	color: white;
}

div#container {
    padding-top: 1.25em;
    background: white;
}

div#container.cont-home {
     background: white url(/img/renchon.png) no-repeat;
}
div#container.cont-view {
     background: white url(/img/renchon.png) no-repeat;
     background-size: 61px;
}

body {
    background-color: #ececec;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.blockBody {
	padding-bottom: 2rem;
}

.torrentNav {
	text-align: center;
}

.pagination > .active > a {
    background: #ececec;
    border-color: #ececec;
    color: #337ab7; /* restore usual text color */
}

/* Links, Text */
a {
	color: #106655;
	text-decoration : none;
}

.download-btn {
    font-size: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.torrent-info .name {
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 3px;
	padding-top: 3px;
	word-wrap: break-word;
}

.torrent-hash {
	font-family: monospace;
}

.torrent-info .filesize {
	white-space: nowrap;
}

.comment-row td:first-of-type {
	vertical-align: top;
	text-align: right;
}

/* Table style & fixes */
.table > tbody > tr > td {
    /* fix bootstrap uglyness */
    vertical-align: middle;
}

.table > tbody > tr > th, .table > tbody > tr > td {
	padding: 4px;
}

.captcha-container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 240px;
}

tr.torrent-info td.date {
	white-space: nowrap;
}

.custom-table-hover > tbody > tr:hover {
	opacity: 0.82;
}

.comment-row {
	border-top: 1px solid #ddd;
}

div.container div.blockBody:nth-of-type(2) table{table-layout:fixed;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:first-of-type, div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(5){width:10%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(3){width:15%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:nth-of-type(4){width:19%;}
div.container div.blockBody:nth-of-type(2) table tr:first-of-type th:last-of-type{width:6%;}

/* Mobile-friendly main table */
@media only screen and (max-width: 700px) {
	table, thead, tbody, tr {
		display: block;
	}

	th {
		display: none;
	}

	td {
		display: inline-block;
	}

	td:nth-of-type(1), td:nth-of-type(2) {
		display: block;
	}

	.table > tbody > tr > td {
		border: none;
	}
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.center-image {
	max-width: 100%;
	max-height: 80vh;
}
