/*Don't make changes to layout here, only colours*/
/* Torrent status colors */
.remake {
  background-color: #473e50; /*270,13%,28%*/
}
.trusted {
  background-color: #395045; /*150,17%,27%*/
}
.aplus {
  background-color: #3c5b71; /*205,30%,34%*/
}
.remake a {
  color: #cfc2dc; /*270,26%,81%*/
}
.trusted a {
  color: #bde0db; /*170,36%,81%*/
}
.remake a:hover {
  color: #cf9fff;
}
.trusted a:hover {
  color: #6ae3d1;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: hsla(200,60%,70%,0.15);
}

.pagination > li > a,
.pagination > li > span {
    color: #fff;
    background-color: #b294bb;
    border-color: #b294bb;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #a2c9dd;
    border-color: #a2c9dd;
}

#mainmenu {
    background: #263238;
    color: #f2f2f2;
    border: 0px solid #263238;
}

#mainmenu a {
	color: #eff5f5;
}

#container {
    background-color: #29363d;
}

 /* #container.cont-home {
     background: #29363d url(/img/megumin.png) no-repeat;
}
#container.cont-view {
     background: #29363d url(/img/megumin.png) no-repeat;
     background-size: 75px;
}
*/
img#mascot {
	display:block;
	background-image: url(/img/megumin.png);
	box-sizing: border-box;
	height: 167px;
	width: 125px;
	padding-left: 125px;
}
/*The above is thanks to https://css-tricks.com/replace-the-image-in-an-img-with-css/
Used to avoid the layout bugs caused by pure css background mascots, while still avoiding
JS to switch the images.*/

body {
    background-color:#282A2E;
    color: #eff5f5;
}


.pagination > .active > a {
    background: #ececec;
    border-color: #ececec;
    color: #337ab7; /* restore usual text color */
}

/* Links, Text */
a {
	color: #a2c9dd;
}
a:hover {
	color: #55c5ff;
	text-shadow: 1px 1px 0 #000;
}
.btn-success {
    color: #fff;
    background-color: #b294bb;
    border-color: #b294bb;
}

:target {
    background-color: #b294bb;
}

.form-control, pre {
    color: #fff;
    background-color: #29363d
}

/* style the dropdown member menu */
.nav > .dropdown.open, .profile-image[aria-expanded="true"], .nav ul.dropdown-menu {
	background: #282A2E;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background: #263238;
}

/* Profile Content */
.profile-content {
  background: #29363d;
}

/* Night mode switcher  */
#mainmenu a.nightswitch {
    background-image: url(/img/moon.png);
}

/* Force images on description to fit width */
#description img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* fix dark-on-dark */
.captcha-container img {
    background: #fff;
    border-radius: .4em .4em 0 0;
    border-bottom: .5em solid #fff;
    margin-bottom: -.5em;
}
.modal-content {
    background: #29363d;
}
.modal-content .close {
    color: #fff;
}

.text-error {
  background: #29363d;
  color: #cf9fff;
}

/*Comments*/

.commentList .commentData {
  color: #fff;
}

.commentList .commentBody {
  background: #29363d;
  color: #fff;
}
