body { color: #c5c8c6; background: #1d1f21 ; }

.header, .box, .pagination li, .user-menu { box-shadow: 1px 3px 4px rgba(0,0,0,0.2) }

#mascot { background-image: url('/img/megumin.svg'); }

a { color: #81a2be; }
a:hover { color:  #5F89AC; }

.header {
	background: #282A2E;
	border-color: #000;
}
.header .nav-btn { color: #c5c8c6; }
.header .nav-btn:hover { color: #eee; }

.box, .pagination li { background: hsla(222, 8%, 20%, 0.8); border-color: #141517 !important; }

.form-input { border-color: #0C0D0E !important; background: #141517; color: #c5c8c6; }

.header .h-user .user-avatar {
	background: #99BFD0;
	border-color: #282A2E;
}
.header .h-user .user-menu {
	background: #282A2E;
	background:    -moz-linear-gradient(top, #282A2E 0%, #34373C 100%);
	background: -webkit-linear-gradient(top, #282A2E 0%, #34373C 100%);
	background:         linear-gradient(to bottom, #282A2E 0%, #34373C 100%);
	border-color: #282A2E;
}

table thead { background: 	#141517 !important; }

th { color: #838B98; }
th a { color: #c5c8c6; }

th, td { border-color:  #141517 !important; }

tr:nth-child(even) { background: rgba(0,0,0,0.2); }
td.tr-se { color: #b5bd68; }
td.tr-le { color: #cc6666; }

.torrent-info.aplus { background: hsla(180, 50%, 50%, 0.2) !important; }
.torrent-info.trusted { background: hsla(90, 50%, 50%, 0.2) !important; }
.torrent-info.remake { background: hsla(40, 50%, 50%, 0.2) !important; }

.pagination .active { background: #141517; color: #c5c8c6; }
.pagination .disabled { color: #141517; cursor: unset; }

.sukebei { color: #c5c8c6; }
.sukebei a { color: #cc6666; }
.sukebei a:hover { color:  #c82829; }
.sukebei th, .sukebei th a { color: #c5c8c6; }

.captcha-container img {
	background: #fff;
	border-radius: .4em .4em 0 0;
	border-bottom: .5em solid #fff;
	margin-bottom: -.5em;
}

.folder-icon { filter: invert(100%); -webkit-filter: invert(100%); }
.file-icon { filter: invert(100%); -webkit-filter: invert(100%); }
