{{import "helpers/errors"}}
{{import "helpers/infos"}}
{{import "layouts/partials/helpers/ad"}}
<!DOCTYPE html>
<html lang="{{  T("language_code") }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="keywords" content="torrents, pantsu, anime, manga, sukebei, nyaapassu, horriblesubs, nyaa{{if Sukebei()}}, hentai{{end}}, dlsite"/>
  <meta name="description" content='The leading open-source community-based nyaa.se successor, suitable for all anime and manga needs. にゃんぱす~!'/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{if Sukebei()}}Sukebei{{else}}Nyaa{{end}} Pantsu{{block titleBase()}}{{end}}</title>
  <!-- Flavicons and icons -->
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>

  <!-- SMO -->
  <meta property="og:site_name" content="{{if Sukebei()}}Sukebei{{else}}Nyaa{{end}} Pantsu"/>
  <meta property="og:title" content="{{yield titleBase()}} - {{if Sukebei()}}Sukebei{{else}}Nyaa{{end}} Pantsu"/>
  <meta property="og:image" content="/img/favicon.png"/>
  <meta property="og:description" content="Nyaa Pantsu Homepage"/>

  <!-- RSS Feed with Context -->
  <link rel="alternate" type="application/rss+xml" title="Nyaa Pantsu - {{block rsstitle()}}Latest torrents{{end}} RSS Feed" href="{{ block rss_link() }}/feed?{{ getRawQuery(URL)|raw }}{{end}}"  />
  <link rel="alternate" type="application/rss+xml" title="Nyaa Pantsu - {{ yield rsstitle()}} Torznab RSS Feed" href="/feed/torznab?{{ getRawQuery(URL)|raw }}&t=search"  />
  <link rel="alternate" type="application/rss+xml" title="Nyaa Pantsu - {{ yield rsstitle()}} EZTV RSS Feed" href="/feed/eztv?{{ getRawQuery(URL)|raw }}"  />

  <!-- do NOT move -->
  <link rel="stylesheet" href="/css/simplemde.min.css?v={{ Config.Version }}{{ Config.Build }}"/>
  <!-- Base theme -->
  <link rel="stylesheet" id="style" href="/css/main.css?v={{ Config.Version }}{{ Config.Build }}"/>
  <!-- nyaacon, custom icon set -->
  <link rel="stylesheet" href="/css/nyacon.css?v={{ Config.Version}}{{ Config.Build }}"/>
  <!-- User selected theme, if empty defaults to theme in nyaa.yml -->
  <link rel="stylesheet" id="theme" href="/css/{{Theme}}.css?v={{ Config.Version }}{{ Config.Build }}"/>
  <!-- Flags css -->
  <link rel="stylesheet" href="/css/flags/flags.min.css"/>
  <!-- Search Box for Google -->
  <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","url":"{{Config.WebAddress.Nyaa}}/","potentialAction":{"@type":"SearchAction","target":"{{Config.WebAddress.Nyaa}}/search?q={search_term_string}","query-input":"required name=search_term_string"} }</script>
  {{block additional_header()}}{{end}}
  </head>
<body {{if Sukebei()}}class="sukebei"{{end}}>
  <nav id="header" class="header">
    {{block menu()}}{{end}}
  </nav>
  {{ AdType := kilo_rand(1) }}
  <div id="content" class="{{ block contclass()}}{{end}}">
    <div class="content container center">
      {{ yield infos()}}
      {{ yield errors()}}
      {{ if !isset(Infos["system"])}}<div class="centered">{{ yield ad_wide(Type=AdType) }}</div>{{end}}
      {{ block content_body_base() }}{{end}}
    </div>
    {{ block mascot() }}
    {{if Mascot != "hide"}}
    <div id="mascot" class="hide-xs{{if MascotURL != ""}} custom-mascot{{end}}" onclick="playVoice();" {{if MascotURL != ""}}style="background-image: url('{{MascotURL}}');"{{end}}></div>
    {* Only play the sounds with the default mascot *}
    {{ if MascotURL == "" }}
    {{ if Sukebei() }}
    <audio id="kawaii" hidden preload="none">
      <source src="https://a.doko.moe/spbyif.mp3" type="audio/mpeg">
    </audio>
    {{else if Theme == "tomorrow" }}
    <audio id="explosion" hidden preload="none">
      <source src="https://a.doko.moe/vrlrtw.mp3" type="audio/mpeg">
    </audio>
    {{ else if User.ID > 0}}
    <audio id="nyanpassu2" hidden preload="none">
      <source src="https://a.doko.moe/znadfr.mp3" type="audio/mpeg">
    </audio>
    {{ else }}
    <audio id="nyanpassu" hidden preload="none">
      <source src="https://a.doko.moe/sewang.mp3" type="audio/mpeg">
    </audio>
    {{end}}
    {{end}}
    {{end}}
    {{end}}
    {{ if genNav(Navigation, URL, 15) != ""}}
    <div class="container bottom">
	<div class="pagination">
	  {{ genNav(Navigation, URL, 15)|raw }}
	</div>
    </div>
    {{end}}
    <div class="centered">{{ yield ad_wide(Type=AdType) }}</div>
    <footer id="footer">
      <div class="container footer center">
        <div class="footer-opt">
          <p><a href="/settings">{{ T("change_settings") }}</a><a id="dark-toggle" href="/dark{{ URL.String()}}"> - Toggle Dark Mode</a></p>
        </div>
        <span><i>Powered by <a href="#">Nyaa Pantsu</a> v{{ Config.Version }} - commit <a id="commit" href="https://github.com/NyaaPantsu/nyaa/commit/{{ Config.Build }}">{{ Config.Build }}</a></i></span>
      </div>
    </footer>
  </div>
  <script type="text/javascript">
	  var commitVersion = "{{ Config.Build }}",
	      websiteVersion = "{{ Config.Version }}",
	      UserID = {{User.ID}},
	      domain = "{{getDomainName()}}",
	      darkTheme = "{{DarkTheme}}";
	</script>
  <script type="text/javascript" src="/js/query.js?v={{ Config.Version}}{{ Config.Build }}"></script>
  <script type="text/javascript" charset="utf-8" src="/js/main.js?v={{ Config.Version }}{{ Config.Build }}" async></script>
  {{block footer_js()}}{{end}}
</body>
</html>
