<script type="text/javascript">
// {{ range _, cat := GetCategories(false, true) }}
T.Add("{{ cat.ID }}", "{{ T(cat.Name) }}")
// {{end}}
// {{ range _, language := GetTorrentLanguages() }}
T.Add("{{ language.Code }}", "{{ LanguageName(language, T) }}")
// {{ if language.Tag != language.Code }}
T.Add("{{ language.Tag }}", "{{ LanguageName(language, T) }}")
// {{end}}
// {{end}}
Templates.Add("torrents.item", function(torrent) {
    var tr_class = "torrent-info"
    if (torrent.status == 2) {
            tr_class += " remake"
    } else if (torrent.status == 3) {
            tr_class += " trusted"
    } else if (torrent.status == 4) {
            tr_class += " aplus"
    }
    // {{ if User.HasAdmin() }}
    var cb_hide = (!TorrentsMod.enabled) ? " hide" : ""
    var cb_show = (TorrentsMod.enabled) ? ' style="display:table-cell;"' : ""
    // {{ end }}
    var catClass = "nyaa-cat"
    // {{ if Sukebei() }}
    catClass += " sukebei-cat-"+ torrent.category + torrent.sub_category
    // {{else}}
    catClass += " nyaa-cat-"+ torrent.sub_category
    // {{end}}
    var languages = ""
    var colspan = (torrent.comments.length  == 0 ? ` colspan="2"` : "" )
    var commentTd = ((torrent.comments.length > 0) ? `<td class="tr-cs home-td"><span>` + torrent.comments.length + `</span></td>` : "")
    var dlLink = (torrent.torrent != "" ? ` <a href="` + torrent.torrent + `" title="{{ T("torrent_file") }}"><div class="icon-floppy"></div></a>` : "")

    if (torrent.languages[0] != "") {
        var flagClass = (torrent.languages.length == 1) ? Templates.FlagCode(torrent.languages[0]) : "multiple"
        var langs = torrent.languages.map(function (el, i) { return T.r(el)}).join(",") 
        languages = `<a href="{{ URL.Parse("/search?c=") }}` + torrent.category + `_` + torrent.sub_category + `&lang=` + torrent.languages.join(",") + `"><img src="img/blank.gif" class="flag flag-` + flagClass + `" title="` + langs + `" alt="` + langs + `"></a>`
    }

    return `<tr id="torrent_` + torrent.id + `" class="` + tr_class + `">
        {{ if User.HasAdmin() }}
        <td class="tr-cb` + cb_hide + `"` + cb_show + `>
            <input data-name="` + Templates.EncodeEntities(torrent.name) + `" type="checkbox" id="torrent_cb_` + torrent.id + `" name="torrent_id" value="` + torrent.id + `">
        </td>
        {{ end }}
    <td class="tr-cat home-td">
        <div class="` + catClass +`">
            <a href="{{ URL.Parse("/search?c=") }}` + torrent.category + `_` + torrent.sub_category + `" class="category">
                ` + languages + `
            </a>
        </div></td>
        <td class="tr-name home-td"` +  colspan + `><a href="/view/` + torrent.id + `">` + Templates.EncodeEntities(torrent.name) + `</a></td>
        `+ commentTd +`
        <td class="tr-links home-td` + (dlLink == "" ? " no-torrent" : "") + `">
            <a href="` + torrent.magnet + `" title="{{ T("magnet_link") }}">
                <div class="icon-magnet"></div>
            </a>`+ dlLink +`
        </td>
        <td class="tr-size home-td hide-xs">` + humanFileSize(torrent.filesize) + `</td>
        <td class="tr-se home-td hide-smol">` + torrent.seeders + `</td>
        <td class="tr-le home-td hide-smol">` + torrent.leechers + `</td>
        <td class="tr-dl home-td hide-xs">` + torrent.completed + `</td>
        <td class="tr-date home-td date-short hide-xs">` + torrent.date + `</td>
    </tr>`;
});
</script>
