{{ extends "layouts/index_admin" }}
{{block title()}}{{ T("announcements") }}{{end}}
{{ block content_body()}}
<div class="results box">
    <h1>{{  T("announcements") }}</h1>
    <table class="table">
        <thead class="torrent-info">
        <tr>
            <th class="tr-name">{{ T("message") }}</th>
            <th class="tr-links" style="width: 120px;">{{ T("expire") }}</th>
            <th class="tr-actions">{{ T("actions") }}</th>
        </tr>
        </thead>
        <tbody>
        {{ range Models}}
        <tr>
            <td class="tr-name home-td">
                <a href="/mod/announcement/form?id={{ .ID }}">{{ .Content }}</a>
            </td>
            <td class="tr-name home-td">
                <a href="/mod/announcement/form?id={{ .ID }}" class="date-full">{{ formatDate(.Expire, false) }}</a>
            </td>
            <td class="tr-actions home-td">
 			  <form method="POST" action="/mod/announcement/delete">
				  <input type="hidden" name="id" value="{{ .ID }}">
				  <button type="submit" class="form-input btn-red"><i class="icon-trash"></i> {{  T("delete") }}</button>
			  </form>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
    <div style="margin: 10px 0;"><a href="/mod/announcement/form" class="form-input btn-green">{{ T("add") }}</a></div>
</div>
{{end}}
