{{ extends "layouts/index_admin" }}
{{block title()}}{{ T("oauth_clients_list") }}{{end}}
{{ block content_body()}}
<div class="results box">
    <h1>{{  T("oauth_clients_list") }}</h1>
    <table class="table">
        <thead class="torrent-info">
        <tr>
            <th class="tr-name">{{ T("owner") }}</th>
            <th class="tr-actions">{{ T("actions") }}</th>
        </tr>
        </thead>
        <tbody>
        {{ range Models}}
        <tr>
            <td class="tr-name home-td">
                <a href="/mod/oauth_client/form?id={{ .ID }}">{{ .Owner }}</a>
            </td>
            <td class="tr-actions home-td">
 			  <form method="POST" action="/mod/oauth_client/delete">
				  <input type="hidden" name="id" value="{{ .ID }}">
				  <button type="submit" class="form-input btn-red"><i class="icon-trash"></i> {{  T("delete") }}</button>
			  </form>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
    <a href="/mod/oauth_client/form" class="form-input btn-green">{{ T("add") }}</a>
</div>
{{end}}
