{{ extends "layouts/index_admin" }}
{{block title()}}{{ T("comments_list") }}{{end}}
{{block content_body()}}
<div class="results box">
  <h1>{{  T("comments_list") }}</h1>
  <table class="table">
    <thead class="torrent-info">
      <tr>
        <th class="tr-name">{{ T("comments") }}</th>
        <th class="tr-size">{{ T("torrents") }}</th>
        <th class="tr-actions">{{ T("username") }}</th>
        <th class="tr-actions">{{ T("actions") }}</th>
      </tr>
    </thead>
    <tbody>
      {{ range Models}}
      <tr>
        <!-- TODO: add href="/mod/comment?id={{.ID}}" for comment editing -->
        <td class="tr-name home-td">
          <a>{{ .Content }}</a>
        </td>
        <td class="tr-size home-td">
          <a href="/view/{{.TorrentID }}">{{ .TorrentID }}</a>
        </td>
        <td class="tr-size home-td">
          {{if .User }}
          <a href="/user/{{ .User.ID }}/{{ .User.Username }}" title="{{ .User.Username }}">{{ .User.Username }}</a>
          {{else}}
          れんちょん
          {{end}}
        </td>
        <td class="tr-actions home-td">
 			  <form method="POST" action="/mod/comment/delete">
				  <input type="hidden" name="id" value="{{ .ID }}">
				  <button type="submit" class="form-input btn-red"><i class="icon-trash"></i> {{  T("delete") }}</button>
			  </form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
