{{define "title"}}{{ call $.T "comments_list" }}{{end}}
{{define "content"}}
<div class="results box">
    <table class="table">
        <thead class="torrent-info">
            <tr>
                <th class="tr-name">{{ call $.T "comments" }}</th>
                <th class="tr-size">{{ call $.T "torrents" }}</th>
                <th class="tr-size">{{ call $.T "username" }}</th>
                <th class="tr-actions">{{ call $.T "actions" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ range .Models}}
        <tr>
            <!-- TODO: add href="{{ genRoute "mod_cedit" }}?id={{.ID}}" for comment editing -->
            <td class="tr-name"><a>{{ .Content }}</a></td>
            <td class="tr-size home-td"><a href="{{ genViewTorrentRoute .TorrentID }}">{{ .TorrentID }}</a></td>
            <td class="tr-size home-td">{{ .UserID }}</td>
            <td class="tr-actions home-td"><a href="{{ genRoute "mod_cdelete" }}?id={{.ID}}" class="form-input" onclick="if (!confirm('{{ call $.T "are_you_sure" }}')) return false;"><i class="trash-icon"></i> {{ call $.T "delete" }}</a></td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}
