{{define "title"}}Comments List{{end}}
{{define "content"}}
<table class="table">
<tr>
    <th class="col-xs-10">Content</th>
    <th class="col-xs-1">User</th>
    <th class="col-xs-1">Action</th>
</tr>

{{ range .Comments}}

<tr><td><a href="{{ genRoute "mod_cedit" }}?id={{.ID}}">{{ .Content }}</a></td><td><a href="{{ genRoute "mod_cedit" }}?id={{.ID}}">{{ .User.Username }}</a></td>
<td><a href="{{ genRoute "mod_cdelete" }}?id={{ .ID }}" class="btn btn-danger btn-lg" onclick="if (!confirm('Are you sure?')) return false;"><i class="glyphicon glyphicon-trash"></i>{{ T "delete" }}</a></td></tr>
{{end}}
</table>
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
              {{ genNav .Navigation .URL 5 }}
          </ul>
      </nav>
{{end}}
