{{ extends "layouts/index_admin" }}
{{ import "layouts/partials/helpers/csrf" }}
{{ block title()}}{{ T("moderation_overview") }}{{end}}
 {{ block content_body()}}
<div class="results box">
  <h3 id="torrents">{{  T("last_torrents") }}</h3>
  <table class="table">
    <thead class="torrent-info">
      <tr>
        <th class="tr-name">{{ T("name") }}</th>
        <th class="tr-actions">{{ T("username") }}</th>
        <th class="tr-actions">{{ T("actions") }}</th>
      </tr>
    </thead>
    <tbody>
      {{range Torrents}}
      <tr {{ if .IsBlocked() }}class="locked hidden"{{end}}>
        <td class="tr-name home-td">
          <a href="/view/{{.ID }}">{{ .Name }}</a>
          <a href="/mod/torrent?id={{.ID}}" class="form-input btn-blue float-right">{{  T("edit") }}</a>
        </td>
        <td class="tr-size home-td">
          <a href="/mod/torrents?userID={{.UploaderID}}">{{ .UploaderID }}</a>
        </td>
        <td class="tr-size home-td">
		{{ if User.IsModerator() }}
		  <form method="POST" action="/mod/torrent/delete">
			<input type="hidden" name="id" value="{{ .ID }}">
		    <button type="submit" class="form-input btn-red" onclick="if (!confirm('{{  T("are_you_sure") }}')) return false;"><i class="icon-trash"></i> {{  T("delete") }}</button>
		  </form>
		{{end}}
	    <form method="POST" action="/mod/torrent/block" class="delete-form">
		<input type="hidden" name="id" value="{{ .ID }}">
		<button type="submit" class="form-input btn-orange" onclick="if (!confirm('{{  T("are_you_sure") }}')) return false;"><i class="icon-trash"></i>{{ if .IsBlocked() }}{{  T("torrent_unblock") }}{{else}}{{  T("torrent_block") }}{{end}}</button>
	    </form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <nav class="adminNav" aria-label="Page navigation">
    <a href="/mod/torrents">{{T("more")}}</a></li>
    </ul>
  </nav>
  <hr />

  <h3 id="torrents">{{ T("last_reports") }}</h3>
  <table class="torrent-report-table">
    <thead class="torrent-info">
      <tr>
        <th class="tr-name">{{ T("name") }}</th>
        <th class="tr-actions">{{ T("username") }}</th>
        <th class="tr-actions">{{ T("reason") }}</th>
        <th class="td-report-message">{{ T("message") }}</th>
        <th class="tr-actions">{{ T("actions") }}</th>
      </tr>
    </thead>
    <tbody>
      {{range TorrentReports}}
      <tr>
        <td class="tr-name home-td">
          <a href="/view/{{.Torrent.ID }}">{{ .Torrent.Name }}</a>
          <a href="/mod/torrent?id={{.Torrent.ID}}" class="form-input btn-blue float-right">{{  T("edit") }}</a>
        </td>
        <td class="tr-size home-td">{{.User.Username}}</td>
        <td class="tr-actions home-td">{{ getReportDescription(.Description,T) }}</td>
        <td class="td-report-message home-td">{{.Message}}</td>
        <td class="tr-actions home-td">
		  <form method="POST" action="/mod/report/delete" >
			<input type="hidden" name="id" value="{{ .ID }}">
		    <button type="submit" class="form-input btn-red"><i class="icon-trash"></i> {{  T("delete") }}</button>
		  </form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <nav class="adminNav" aria-label="Page navigation">
    <a href="/mod/reports">{{ T("more") }}</a>
  </nav>
  <hr />
  <h3 id="users">{{  T("last_users") }}</h3>
  <table class="table">
    <thead class="torrent-info">
      <tr>
        <th class="tr-name">{{ T("username") }}</th>
        <th class="tr-actions">{{ T("actions") }}</th>
      </tr>
    </thead>
    <tbody>
      {{range Users}}
      <tr>
        <td class="tr-name home-td">
          <a href="/user/{{.ID}}/{{.Username }}">{{ .Username }}</a>
        </td>
        <td class="tr-size home-td">{{if .ID > 0}}
			{{ if User.IsModerator() }}
			  <form method="POST" action="/user/{{.ID}}/{{.Username }}/delete" class="delete-form">
				   {{ yield csrf_field()}}
				<button type="submit" class="form-input btn-red" onclick="if (!confirm('{{  T("are_you_sure") }}')) return false;"><i class="icon-trash"></i> {{  T("delete") }}</button>
			  </form>
			{{end}}
			<form method="POST" action="/user/{{.ID}}/{{.Username }}/ban" class="delete-form">
				   {{ yield csrf_field()}}
			<button type="submit" class="form-input btn-orange" onclick="if (!confirm('{{  T("are_you_sure") }}')) return false;"><i class="icon-trash"></i>{{ if .IsBanned() }}{{  T("unban") }}{{else}}{{  T("ban") }}{{end}}</button>
			</form>
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <nav class="adminNav" aria-label="Page navigation">
    <a href="/mod/users">{{  T("more") }} </a></li>
    </ul>
  </nav>
  <hr />
  <h3 id="comments">{{  T("last_comments") }}</h3>
  <table class="table">
    <thead class="torrent-info">
      <tr>
        <th class="tr-name">{{ T("comments") }}</th>
        <th class="tr-actions">{{ T("username") }}</th>
        <th class="tr-actions">{{ T("actions") }}</th>
      </tr>
    </thead>
    <tbody>
      {{range Comments}}
      <tr>
        <td class="tr-name home-td">
          <a href="/mod/comment?id={{.ID}}">{{ .Content }}</a>
        </td>
        <td class="tr-size home-td">
          <a href="/mod/comment?id={{.ID}}">
            {{if .User }}{{ .User.Username }}{{else}}れんちょん{{end}}
          </a>
        </td>
        <td class="tr-size home-td">
 			<form method="POST" action="/mod/comment/delete">
			     <input type="hidden" name="id" value="{{ .ID }}">
				<button type="submit" class="form-input btn-red"><i class="icon-trash"></i> {{  T("delete") }}</button>
			</form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <nav class="adminNav" aria-label="Page navigation">
    <a href="/mod/comments">{{  T("more") }}</a></li>
    </ul>
  </nav>
</div>
{{end}}
