{{define "title"}}Moderation Overview{{end}}
{{define "content"}}
<h3 id="torrents">Last Torrents</h3>
<table class="table">
{{ range .Torrents}}

<tr><td><a href="{{ genRoute "mod_tedit" }}?id={{.ID}}">{{ .Name }}</a></td><td><a href="{{ genRoute "mod_tlist" }}?userid={{.UploaderID}}">{{ .UploaderID }}</a></td>
<td><a href="{{ genRoute "mod_tdelete" }}?id={{ .ID }}" class="btn btn-danger btn-lg" onclick="if (!confirm('Are you sure?')) return false;"><i class="glyphicon glyphicon-trash"></i>{{ T "delete" }}</a></td></tr>
{{end}}
</table>
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
          	<li><a href="{{ genRoute "mod_tlist" }}">More</a></li>
          </ul>
      </nav>
<h3 id="torrents">Last Torrents Report</h3>
<table class="table">
{{ range .TorrentReports}}

<tr><td><a href="{{ genRoute "mod_tedit" }}?id={{.Torrent.ID}}">{{ .Torrent.Name }}</a></td><td>{{.User.Username}}</td><td>{{.Description}}</td>
<td><a href="{{ genRoute "mod_tdelete" }}?id={{ .ID }}" class="btn btn-danger btn-lg" onclick="if (!confirm('Are you sure?')) return false;"><i class="glyphicon glyphicon-trash"></i>{{ T "delete" }}</a></td></tr>
{{end}}
</table>
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
          	<li><a href="{{ genRoute "mod_trlist" }}">More</a></li>
          </ul>
      </nav>
<h3 id="users">Last Users</h3>
<table class="table">
{{ range .Users}}

<tr>
<td><a href="{{ genRoute "user_profile" "id" (print .ID) "username" .Username }}?edit">{{ .Username }}</a></td>
<td><a href="{{ genRoute "user_profile" "id" (print .ID) "username" .Username }}?delete" class="btn btn-danger btn-lg" onclick="if (!confirm('Are you sure?')) return false;"><i class="glyphicon glyphicon-trash"></i>{{ T "delete" }}</a></td>
</tr>
{{end}}
</table>
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
<li><a href="{{ genRoute "mod_ulist" }}">More </a></li>
          </ul>
      </nav>
<h3 id="comments">Last Comments</h3>
<table class="table">
{{ range .Comments}}

<tr><td><a href="{{ genRoute "mod_cedit" }}?id={{.ID}}">{{ .Content }}</a></td><td><a href="{{ genRoute "mod_cedit" }}?id={{.ID}}">{{ .User.Username }}</a></td>
<td><a href="{{ genRoute "mod_cdelete" }}?id={{ .ID }}" class="btn btn-danger btn-lg" onclick="if (!confirm('Are you sure?')) return false;"><i class="glyphicon glyphicon-trash"></i>{{ T "delete" }}</a></td></tr>
{{end}}
</table>
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
<li><a href="{{ genRoute "mod_clist" }}">More</a></li>
          </ul>
      </nav>
{{end}}
