{{define "title"}}Torrents Report{{end}}
{{define "content"}}
<table class="table">
<tr>
    <th class="col-xs-8">Torrent Name</th>
    <th class="col-xs-1">User</th>
    <th class="col-xs-1">Reason</th>
    <th class="col-xs-1">Action</th>
</tr>

  {{range .Models}}
    <tr>
      <td><a href="{{ genRoute "view_torrent" "id" (print .Torrent.ID) }}">{{ .Torrent.Name }}</a> (<a href="{{ genRoute "mod_tedit" }}?id={{ print .Torrent.ID}}">Edit</a>)</td>
      <td>{{.User.Username}}</td>
      <td>{{.Description}}</td>
      <td><a href="{{ genRoute "mod_tdelete" }}?id={{ print .Torrent.ID }}" onclick="if (!confirm('Are you sure?')) return false;">Delete</a><br />
      <a href="{{ genRoute "mod_trdelete" }}?id={{ print .ID }}">Delete Report</a></td>
    </tr>
  {{end}}
</table>
{{end}}
