{{define "title"}}{{ call $.T "torrents_list" }}{{end}}
{{define "content"}}
<div class="results box">
    <h1>{{ call $.T "torrents_list" }}</h1>
    <form method="post" action="">
    {{ block "csrf_field" $ }}{{end}}
    {{ range (index $.Infos "infos")}}
        <p class="success-text">{{ . }}</p>
    {{end}}
    {{ range (index $.Errors "errors")}}
        <p class="error-text">{{ . }}</p>
    {{end}}
    <div class="toolbar">
          <select class="cb_action" name="action">
            <option value="">{{ call $.T "action_select" }}</option>
            <option value="status">{{ call $.T "change_status" }}</option>
            <option value="delete">{{ call $.T "delete" }}</option>
          </select>
          <select class="cb_action" style="display: none;" name="status">
            <option value="">{{ call $.T "to_status" }}</option>
            <option value="5">{{call $.T "torrent_status_blocked"}}</option>
            <option value="1">{{call $.T "torrent_status_normal"}}</option>
            <option value="2">{{call $.T "torrent_status_remake"}}</option>
            <option value="3">{{call $.T "trusted"}}</option>
            <option value="4">A+</option>
          </select>
        <input type="submit" class="form-input" value="Apply">
        <input type="reset" class="form-input" value="Reset">
        <div class="float-right">
            <a href="{{genRoute "mod_tlist" }}" class="form-input">{{ call $.T "torrents_not_deleted" }}</a>
            <a href="{{genRoute "mod_tlist_deleted" }}" class="form-input">{{ call $.T "torrents_deleted" }}</a>
        </div>
    </div>
<table class="table">
    <thead class="torrent-info">
        <tr>
            <th class="tr-cb"><input type="checkbox" name="checkall" data-selectall="checkbox"></th>
            <th class="tr-name">{{ call $.T "name" }}</th>
            <th class="tr-size">{{ call $.T "uploaded_by" }}</th>
            <th class="tr-actions">{{ call $.T "actions" }}</th>
        </tr>
    </thead>
    <tbody>
    {{ range .Models}}
    <tr>
        <td class="tr-cb"><input type="checkbox" class="selectable" name="torrent_id" value="{{.ID }}"></td>
        <td class="tr-name"><a href="{{ genViewTorrentRoute .ID }}">{{ .Name }}</a> {{ if not .IsDeleted }}<a href="{{ genRoute "mod_tedit" }}?id={{.ID}}" class="form-input float-right">{{ call $.T "edit"}}</a>{{end}}</td>
        <td class="tr-size home-td">{{ if .Uploader }}<a href="{{ if .IsDeleted }}{{ genRoute "mod_tlist_deleted" }}{{else}}{{ genRoute "mod_tlist" }}{{end}}?userID={{.UploaderID}}">{{ .Uploader.Username }}</a>{{ else }}れんちょん{{end}}</td>
        <td class="tr-actions home-td">
        <a href="{{ genRoute "mod_tblock" }}?id={{ .ID }}" class="form-input" onclick="if (!confirm('{{ call $.T "are_you_sure"}}')) return false;">{{ if .IsBlocked }}{{ call $.T "torrent_unblock" }}{{else}}{{ call $.T "torrent_block" }}{{end}}</a>
        {{ if .IsDeleted }}
        <br><a href="{{ genRoute "mod_tdelete" }}?definitely&id={{ .ID }}" class="form-input" onclick="if (!confirm('{{ call $.T "are_you_sure"}} {{ call $.T "delete_definitely_torrent_warning"}}')) return false;"><i class="trash-icon"></i> {{ call $.T "delete_definitely" }}</a>
        {{ else }}
        <a href="{{ genRoute "mod_tdelete" }}?id={{ .ID }}" class="form-input" onclick="if (!confirm('{{ call $.T "are_you_sure"}}')) return false;"><i class="trash-icon"></i> {{ call $.T "delete" }}</a>
        {{ end }}
        </td>
    </tr>
    {{end}}
    </tbody>
</table> 
  </form>
</div>
{{end}}
{{ define "footer_js"}}
<!-- JS Function for selecting multiple checkboxes -->
<script type="text/javascript" src="{{ .URL.Parse "/js/selectAll.js" }}"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("select[name='action']").addEventListener("change", function(e) {
        var el = e.target;
        if (el.value == "status")
            document.querySelector("select[name='status']").style.display = "inline"
        else 
            document.querySelector("select[name='status']").style.display = "none"
            console.log(el.value);
    });
});
</script>
{{end}}
