{{ extends "layouts/index_admin" }}
{{block title()}}{{ T("users_list") }}{{end}}
{{ block content_body()}}
<div class="results box">
  <h1>{{  T("users_list") }}</h1>
  <table class="table">
    <thead class="torrent-info">
      <tr>
        <th class="tr-name">{{ T("username") }}</th>
        <th class="tr-actions">{{ T("actions") }}</th>
      </tr>
    </thead>
    <tbody>
      {{ range Models}}
      <tr>
        <td class="tr-name home-td">
          <a href="/user/{{.ID}}/{{.Username }}">{{ .Username }}</a>
        </td>
        <td class="tr-actions home-td">
          {{if .ID > 0}}
			  <form method="POST" action="/user/{{.ID}}/{{.Username }}?delete">
				  <input type="hidden" name="id" value="{{ .ID }}">
				  <button type="submit" class="form-input btn-red"onclick="if (!confirm('{{  T(" are_you_sure ") }}')) return false;"><i class="icon-trash"></i> {{  T("delete") }}</button>
			  </form>
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
