{{ extends "layouts/index_site" }}
{{ import "layouts/partials/helpers/csrf" }}
{{ import "layouts/partials/helpers/errors" }}
{{block title()}}{{  T("sign_in_title") }}{{end}}
{{block content_body()}}
<div class="box">
  <div class="user-form">
    <form method="POST">
      {{ yield csrf_field()}}
      <h2>{{ T("sign_in_box_title")}}</h2>
      <input type="text" name="username" id="username" class="form-input up-input" autofocus placeholder="{{  T("email_address_or_username")}}"/>
      <br/>
      {{ yield errors(name="Username")}}
      <input type="password" name="password" id="password" class="form-input up-input" placeholder="{{  T("password")}}"/>
      <br/>
      {{ yield errors(name="Password")}}
      <input type="hidden" name="redirectTo" value="{{ Form.RedirectTo }}"/>
      <input type="checkbox" name="remember_me" id="remember_me" value="remember" checked="checked"><label class="input-label" for="remember_me">{{ T("remember_me") }}</label><br><br>

    <input type="submit" class="form-input" value="{{  T("signin")}}"/>
    <a href="/register" class="btn btn-lg btn-primary btn-block">{{  T("register")}}</a>
  </form>
</div>
</div>
<br/>
<br/>
{{end}}
