{{ extends "layouts/index_site" }}
{{ import "layouts/partials/helpers/csrf" }}
{{ import "layouts/partials/helpers/errors" }}
{{block title()}}{{  T("sign_in_title") }}{{end}}
{{block content_body()}}
	<div class="box">
		<div class="user-form">
			<form role="form" method="POST">
					{{ yield csrf_field()}}
					<h2>{{ T("sign_in_box_title")}}</h2>
						<input type="text" name="username" id="username" class="form-input up-input" autofocus placeholder="{{  T("email_address_or_username")}}"><br>
						{{ yield errors(name="Username")}}
						<input type="password" name="password" id="password" class="form-input up-input" placeholder="{{  T("password")}}"><br>
						<input type="hidden" name="redirectTo" value="{{ Form.RedirectTo }}">
						{{ yield errors(name="Password")}}
					<!-- <span class="button-checkbox">
						<button type="button" class="btn hidden" data-color="info">{{  T("remember_me")}}</button>
						<input type="checkbox" name="remember_me" id="remember_me" checked="checked">
						<a href="" class="btn btn-link pull-right">{{  T("forgot_password")}}</a>
					</span> -->
							<input type="submit" class="form-input" value="{{  T("signin")}}">
							<a href="/register" class="btn btn-lg btn-primary btn-block">{{  T("register")}}</a>
			</form>
		</div>
	</div>
    <br />
    <br />
{{end}}
