<div class="box refine website-nav">
<table id="nav-category-list">
	<tbody>
		<tr><td>{{if Search.Category == ""}}<b>{{ T("all_categories")}}</b>{{else}}<a href="{{genSearchWithCategory(URL, "_")}}">{{ T("all_categories")}}</a>{{end}}</td></tr>
		<tr>
		{{ range _, cat := GetCategories(true, false) }}
			<td>{{if Search.Category == cat.ID ||(len(Search.Category) > 2 && Search.Category[:2] == cat.ID)}}<b>{{ T(cat.Name) }}</b>{{else}}<a href="{{genSearchWithCategory(URL, cat.ID)}}">{{ T(cat.Name) }}</a>{{end}}</td>
			{{ if _ % 3 == 2}}
			</tr>
			<tr>
			{{end}}
			{{if _ + 1 == len(GetCategories(true, false)) }}
			</tr>{{end}}
		{{ end }}
		</tr>
	</tbody>
</table>
{{ if Search.Category != ""}}
<div class="sub-category-list">
	{{ Categories := GetCategory(Search.Category[:1], true)}}
	{{ range _, cat := Categories}}
		<span>
		{{if Search.Category == cat.ID}}<b>{{ T(cat.Name) }}</b>{{else}}
		<a href="{{genSearchWithCategory(URL, cat.ID)}}">{{ T(cat.Name)}}</a>{{end}}
		</span>
	{{end}}
</div>
{{end}}
<table id="sort-list-order">
	<tbody>
		<tr>
			<td>
				{{ if Search.Sort != 2 && Search.Sort != 0}}<a href="{{ genSearchWithOrdering(URL, "2") }}">{{ T("date") }}</a>{{else}}<b>{{ T("date") }}</b>{{end}} / 
				{{ if Search.Sort != 5}}<a href="{{ genSearchWithOrdering(URL, "5") }}">{{ T("seeders") }}</a>{{else}}<b>{{ T("seeders") }}</b>{{end}} / 
				{{ if Search.Sort != 6}}<a href="{{ genSearchWithOrdering(URL, "6") }}">{{ T("leechers") }}</a>{{else}}<b>{{ T("leechers") }}</b>{{end}} / 
				{{ if Search.Sort != 7}}<a href="{{ genSearchWithOrdering(URL, "7") }}">{{ T("completed") }}</a>{{else}}<b>{{ T("completed") }}</b>{{end}}  / 
				{{ if Search.Sort != 4}}<a href="{{ genSearchWithOrdering(URL, "4") }}">{{ T("size") }}</a>{{else}}<b>{{ T("size") }}</b>{{end}}  / 
				{{ if Search.Sort != 1}}<a href="{{ genSearchWithOrdering(URL, "1") }}">{{ T("name") }}</a>{{else}}<b>{{ T("name") }}</b>{{end}}  
			</td>
			<td style="padding: 0 0.35em!important;"> | </td>
			<td>
				{{ if Search.Order}}<a href="{{ genSearchWithOrdering(URL, toString(Search.Sort)) }}">{{ T("ascending") }}</a>{{else}}<b>{{ T("ascending") }}</b>{{end}} / 
				{{ if !Search.Order}}<a href="{{ genSearchWithOrdering(URL, toString(Search.Sort)) }}">{{ T("descending") }}</a>{{else}}<b>{{ T("descending") }}</b>{{end}}
			</td>
		</tr>
	</tbody>
</table>
    <div class="pagination">
      {{ genNav(Navigation, URL, 33)|raw }}
    </div>
</div>
