{{ block tagForm(tag,defaults,acceptedTag=nil) }}
  {{ if isset(tag) && isset(defaults) }}
    <div class="form-group">
      <label class="input-label" for="tag_{{ type }}">{{T("tagtype_" + type) }}</label>
      {{ if len(defaults) > 0 && defaults[0] != "db" }}
      <select id="tag_{{ type }}" name="tag_{{ type }}">
      {{ range _, option := defaults }}
        <option value="{{ option }}"{{ if isset(acceptedTag) && acceptedTag.Tag == option }} selected{{end}}>{{ T("tagvalue_" + option) }}</option>
      {{ end }}
      </select>
      {{ else }}
      <input id="tag_{{ type }}" name="tag_{{ type }}">
      {{ end }}
    </div>
  {{ end }}
{{ end }}