port_range = {{ torrent_port_range }}
min_peers = 40
max_peers = 52
min_peers_seed = 10
max_peers_seed = 52
max_uploads = 15
upload_rate = 0

# Default directory to save the downloaded torrents.
directory = {{ torrent_downloaded_directory }}

# Watch a directory for new torrents, and stop those that have been
# deleted.
schedule = watch_directory,5,5,load_start={{ torrent_watch_directory }}/*.torrent

#schedule = low_diskspace,5,60,close_low_diskspace=100M

check_hash = yes

# Set whether the client should try to connect to UDP trackers.
#use_udp_trackers = yes

# Should be force it ?
encryption = allow_incoming,enable_retry,prefer_plaintext

dht = auto
dht_port = 6881
peer_exchange = yes
# vim: ft=cfg
