    <div id="admin-header">
      <a href="{{URL.Parse("/mod/")}}" class="nav-btn{{if URL.String() == "/mod/"}} active{{end}}">{{ T("moderation")}}</a>
      <a href="{{URL.Parse("/mod/torrents")}}" class="nav-btn{{if len(URL.String()) > 11}}{{if URL.String()[:12] == "/mod/torrent"}} active{{end}}{{end}}">{{ T("torrents")}}</a>
      <a href="{{URL.Parse("/mod/users")}}" class="nav-btn{{if URL.String() == "/mod/users"}} active{{end}}">{{ T("users")}}</a>
      <a href="{{URL.Parse("/mod/comments")}}" class="nav-btn{{if URL.String() == "/mod/comments"}} active{{end}}">{{ T("comments")}}</a>
      <a href="{{URL.Parse("/mod/oauth_client")}}" class="nav-btn{{if len(URL.String()) > 16}}{{ if URL.String()[:17] == "/mod/oauth_client"}} active{{end}}{{end}}">{{ T("oauth_clients_list")}}</a>
      <a href="{{URL.Parse("/mod/announcement")}}" class="nav-btn{{if len(URL.String()) > 16}}{{ if URL.String()[:17] == "/mod/announcement"}} active{{end}}{{end}}">{{ T("announcements")}}</a>
      <a href="{{URL.Parse("/mod/reports")}}" class="nav-btn{{if URL.String() == "/mod/reports"}} active{{end}}">{{ T("torrent_reports")}}</a>
      <a href="{{URL.Parse("/mod/reassign")}}" class="nav-btn{{if URL.String() == "/mod/reassign"}} active{{end}}">{{ T("torrent_reassign")}}</a>
    </div>
