{{define "night_theme_init"}}
  <script type="text/javascript">
    // Night mode
    var night = localStorage.getItem("night");
    var darkStyleLink = document.createElement('link');
    darkStyleLink.id = "style-dark";
    darkStyleLink.rel = "stylesheet";
    darkStyleLink.type = "text/css";
    darkStyleLink.href = "/css/style-night.css"

    function applyTheme(night) {
        var switcher = document.getElementById("theme-switcher-button");
        var head = document.getElementsByTagName("head")[0];
        if(night === "true") {
            if (head) {
              head.appendChild(darkStyleLink);
            }
            if (switcher) switcher.value = "light";
        } else {
            if (head && document.getElementById("style-dark")) {
                head.removeChild(darkStyleLink);
            }
            if (switcher) switcher.value = "dark";
        }
    }
    var night = localStorage.getItem("night");
    applyTheme(night);
  </script>
{{end}}
