{{define "profile_content"}}
{{with .UserProfile}}
{{ if gt (len .Torrents) 0 }}
          <table>
          <tr class="torrent-info">
            <th class="tr-cat">{{call $.T "category"}}</th>
            <th class="tr-name">{{call $.T "name"}}</th>
            <th class="tr-date hide-xs">{{call $.T "date"}}</th>
            <th class="tr-size hide-xs">{{call $.T "size"}}</th>
            <th class="tr-dl">{{call $.T "links"}}</th>
          </tr>
          {{ range $i, $t := .Torrents }}
          {{ if lt $i 16 }}
          {{ with $t.ToJSON }}
          <tr class="torrent-info
              {{if eq .Status 2}}remake{{end}}
              {{if eq .Status 3}}trusted{{end}}
              {{if eq .Status 4}}aplus{{end}}">
              <!-- forced width because the <td> gets bigger randomly otherwise -->
              <td>
                  <a href="{{$.URL.Parse (printf "/search?c=%s_%s" .Category .SubCategory) }}">
                      {{ if Sukebei }}
                      <img src="{{$.URL.Parse (printf "/img/torrents/sukebei/%s%s.png" .Category .SubCategory) }}" title="{{ call $.T (CategoryName .Category .SubCategory) }}">
                      {{ else }}
                      <img src="{{$.URL.Parse (printf "/img/torrents/%s.png" .SubCategory) }}" title="{{ call $.T (CategoryName .Category .SubCategory) }}">
                      {{ end}}
                  </a>
              </td>
              <td class="name">
                  <a href="{{genRoute "view_torrent" "id" .ID }}">
                      {{.Name}}
                  </a>
              </td>
              <td class="nowrap date-short hide-xs">{{.Date}}</td>
              <td class="nowrap hide-xs">
                  {{ fileSize .Filesize $.T }}
              </td>
              <td>
                  <a href="{{.Magnet}}" title="{{ call $.T "magnet_link" }}">
                        <i class="fa fa-magnet"></i>
                  </a>
                  {{if ne .TorrentLink ""}}
                  <a href="{{.TorrentLink}}" title="{{ call $.T "torrent_file" }}">
                        <i class="fa fa-save"></i>
                  </a>
                  {{end}}
              </td>
          </tr>
          {{end}}
          {{end}}
          {{end}}
      </table>
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
              <li><a href="{{ genRoute "search" }}?userID={{ .ID }}" aria-label="Next"><i class="fa fa-plus-circle"></i> {{ call $.T "see_more_torrents_from" .Username }}</a></li>
          </ul>
      </nav>
    </div>
    {{else}}
     <h2 style="text-align: center;">{{ call $.T "no_torrents_uploaded" }}</h2>
{{end}}
{{end}}
{{end}}
