{{define "profile_notifications_content"}}
	{{with .User}}
	<div>
	<a href="{{ genRoute "user_notifications" }}?clear" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-trash"></i> {{ call $.T "clear_notifications" }}</a>
	<div style="clear: both;"></div>
	</div>
	{{ range (index $.FormInfos "infos")}}
		<div class="alert alert-info"><a class="panel-close close" data-dismiss="alert">×</a><i class="glyphicon glyphicon-info-sign"></i> {{ . }}</div>
	{{end}}
	<table class="table table-hover table-striped">
		{{ range .Notifications }}
		<tr><td>
			<div style="padding: 0 1rem 1rem;">
				<a href="{{ .URL }}?notif"><h3><i class="glyphicon glyphicon-bell profile-usertitle-name" ></i>{{ .Content }}</h3></a>
			</div>
		</td></tr>
		{{end}}
	</table>
	{{end}}
{{end}}