{{define "profile_notifications_content"}}
	{{with .User}}
	<div>
	<a href="{{ genRoute "user_notifications" }}?clear" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-trash"></i> {{ call $.T "clear_notifications" }}</a>
	<div style="clear: both;"></div>
	</div>
	{{ range (index $.FormInfos "infos")}}
		<p class="success-text">{{ . }}</p>
	{{end}}
	{{ if gt (len .Notifications) 0}}
	<table>
		{{ range .Notifications }}
		<tr><td>
			<div style="padding: 0 1rem 1rem;">
				<a href="{{ .URL }}?notif"><h3>{{ .Content }}</h3></a>
			</div>
		</td></tr>
		{{end}}
	</table>
	{{else}}
	<h2>No notifications</h2>
	{{end}}
	{{end}}
{{end}}