{{define "title"}}{{ call $.T "activity_list" }}{{end}}
{{define "contclass"}}cont-home{{end}}
{{define "content"}}
<div class="results box">
    <table>
        <thead class="torrent-info">
            <tr>
                <th class="tr-name">{{ call $.T "activities" }}</th>
                <th class="tr-size">{{ call $.T "filter" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ range .Models}}
        <tr>
            <td class="tr-name home-td"><a>{{ genActivityContent . $.T }}</a></td>
            <td class="tr-actions home-td"><a href="{{ genRoute "activity_list" }}?filter={{.Filter}}" class="form-input">{{ call $.T .Filter }}</a></td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}