{{define "title"}}Home{{end}}
{{define "content"}}
	<div class="blockBody">
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
              {{ genNav .Navigation .URL 10 }}
          </ul>
      </nav>

      <div class="table-responsive">
          <table class="table custom-table-hover">
          <tr>
              <th>Category</th>
              <th>Name</th>
              <th>Date</th>
              <th>Size</th>
              <th>Links</th>
          </tr>
          {{ range .ListTorrents}}
          <tr class="torrent-info
              {{if eq .Status 2}}remake{{end}}
              {{if eq .Status 3}}trusted{{end}}
              {{if eq .Status 4}}aplus{{end}}">
              <td>
                  <a href="{{$.URL.Parse (printf "/search?c=%s_%s" .Category.Id .Sub_Category.Id) }}">
                      <img src="{{$.URL.Parse (printf "/img/torrents/%s.png" .Sub_Category.Id) }}">
                  </a>
              </td>
              <td class="name">
                  <a href="{{genRoute "view_torrent" "id" .Id }}">
                      {{.Name}}
                  </a>
              </td>
              <td class="date date-short">{{.Date}}</td>
              <td class="filesize">{{.Filesize}}</td>
              <td>
                  <a href="{{.Magnet}}" title="Magnet link">
                      <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                  </a>
<!--                  <a href="https://itorrents.org/torrent/{{.Hash}}.torrent" title="Torrent file">
                      <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> 
                  </a> -->
              </td>
          </tr>
          {{end}}
      </table>
    </div>
</div>
{{end}}
