{{define "title"}}{{T "home"}}{{end}}
{{define "contclass"}}cont-home{{end}}
{{define "content"}}
  <div class="blockBody">
      <ul class="list-inline" aria-label="Page navigation">
          <li id="mascot"></li>
          <li style="padding-top: 7%;" class="pull-right"><ul class="pagination">
              {{ genNav .Navigation .URL 5 }}
          </ul></li>
      </nav>

      <div class="table-responsive">
          <table class="table custom-table-hover">
          <tr>
              <th class="col-xs-1 hidden-xs">{{T "category"}}</th>
              <th class="col-xs-12">
                <a href="{{ genSearchWithOrdering .URL "1" }}">{{T "name"}}{{ genSortArrows .URL "1" }}</a>
              </th>
              <th class="col-xs-1 hidden-xs"><a href="{{ genSearchWithOrdering .URL "5" }}">{{T "S"}}{{ genSortArrows .URL "5" }}</a></th>
              <th class="col-xs-1 hidden-xs"><a href="{{ genSearchWithOrdering .URL "6" }}">{{T "L"}}{{ genSortArrows .URL "6" }}</a></th>
              <th class="col-xs-1 hidden-xs"><a href="{{ genSearchWithOrdering .URL "7" }}">{{T "D"}}{{ genSortArrows .URL "7" }}</a></th>
              <th class="col-xs-1 hidden-xs"><a href="{{ genSearchWithOrdering .URL "2" }}">{{T "date"}}{{ genSortArrows .URL "2" }}</th></a>
              <th class="col-xs-1 hidden-xs"><a href="{{ genSearchWithOrdering .URL "4" }}">{{T "size"}}{{ genSortArrows .URL "4" }}</a></th>
              <th class="col-xs-1 hidden-xs" style="white-space: nowrap;">{{T "links"}}</th>
          </tr>
          {{ range .ListTorrents}}
          <tr class="torrent-info
              {{if eq .Status 2}}remake{{end}}
              {{if eq .Status 3}}trusted{{end}}
              {{if eq .Status 4}}aplus{{end}}">
              <!-- forced width because the <td> gets bigger randomly otherwise -->
              <td class="hidden-xs" style="width:80px">
                  <a href="{{$.URL.Parse (printf "/search?c=%s_%s" .Category .SubCategory) }}">
                      {{ if Sukebei }}

                      <img src="{{$.URL.Parse (printf "/img/torrents/sukebei/%s%s.png" .Category .SubCategory) }}">

                      {{ else }}
                      <img src="{{$.URL.Parse (printf "/img/torrents/%s.png" .SubCategory) }}">
                      {{ end}}
                  </a>
              </td>
              <td class="name">
                  <a href="{{genRoute "view_torrent" "id" .ID }}">
                      {{.Name}}
                  </a>
                  <span class="badge pull-right hidden-xs">{{ len .Comments }}</span>
              </td>
              {{if .LastScrape.IsZero}}
              <td class="hidden-xs" colspan="3" align="center">{{T "unknown"}}</td>
              {{else}}
              <td class="hidden-xs"><b class="text-success">{{.Seeders}}</b></td>
              <td class="hidden-xs"><b class="text-danger">{{.Leechers}}</b></td>
              <td class="hidden-xs">{{.Completed}}</td>
              {{end}}
              <td class="hidden-xs date date-short">{{.Date}}</td>
              <td class="hidden-xs filesize">{{.Filesize}}</td>
              <td class="hidden-xs">
                  <a href="{{.Magnet}}" title="Magnet link">
                      <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                  </a>
                  {{if ne .TorrentLink ""}}
                  <a href="{{.TorrentLink}}" title="Torrent file">
                      <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> 
                  </a>
                  {{end}}
              </td>
          </tr>
          {{end}}
      </table>
      </div>
      <nav class="torrentNav" aria-label="Page navigation">
          <ul class="pagination">
              {{ genNav .Navigation .URL 5 }}
          </ul>
      </nav>
</div>
{{end}}
