{{define "title"}}{{call $.T "home"}}{{end}}
{{define "contclass"}}cont-home{{end}}
{{define "content"}}

<audio id="nyaapassu" hidden>
  <source src="https://a.doko.moe/sewang.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<audio id="explosion" hidden>
  <source src="https://megumin.love/sounds/explosion.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

      <nav>
         <ul class="pagination">
              {{ genNav .Navigation .URL 5 }}
         </ul>
      </nav>
      <!-- Contain the table within a grid, as for better sizing -->
      <div class="pure-g">
          <table class="pure-table">
          <tr class="pure-u-1">
              <th class="pure-u-1-12">{{call $.T "category"}}</th>
              <th class="pure-u-5-12">
                <a href="{{ genSearchWithOrdering .URL "1" }}">{{call $.T "name"}}{{ genSortArrows .URL "1" }}</a>
              </th>
              <th class="pure-u-1-12">
                <a href="{{ genSearchWithOrdering .URL "5" }}">{{call $.T "S"}}{{ genSortArrows .URL "5" }}</a> / 
                <a href="{{ genSearchWithOrdering .URL "6" }}">{{call $.T "L"}}{{ genSortArrows .URL "6" }}</a> / 
                <a href="{{ genSearchWithOrdering .URL "7" }}">{{call $.T "D"}}{{ genSortArrows .URL "7" }}</a>
              </th>
              <!-- <th><span class="glyphicon glyphicon-comment"></span></th> -->
              <th class="pure-u-1-12"><a href="{{ genSearchWithOrdering .URL "2" }}">{{call $.T "date"}}{{ genSortArrows .URL "2" }}</th></a>
              <th class="pure-u-1-12"><a href="{{ genSearchWithOrdering .URL "4" }}">{{call $.T "size"}}{{ genSortArrows .URL "4" }}</a></th>
              <th class="pure-u-1-12">{{call $.T "links"}}</th>
          </tr>
          {{ range .ListTorrents}}
          <tr class="pure-u-1 torrent-info
              {{if eq .Status 2}}remake{{end}}
              {{if eq .Status 3}}trusted{{end}}
              {{if eq .Status 4}}aplus{{end}}">
              <!-- forced width because the <td> gets bigger randomly otherwise -->
              <td class="pure-u-1-12">
                  <a href="{{$.URL.Parse (printf "/search?c=%s_%s" .Category .SubCategory) }}">
                      {{ if Sukebei }}
                      <img src="{{$.URL.Parse (printf "/img/torrents/sukebei/%s%s.png" .Category .SubCategory) }}" title="{{ call $.T (Category_Sukebei .Category .SubCategory) }}">
                      {{ else }}
                      <img src="{{$.URL.Parse (printf "/img/torrents/%s.png" .SubCategory) }}" title="{{ call $.T (Category_Nyaa .Category .SubCategory) }}">
                      {{ end}}
                  </a>
              </td>
              <td style="text-overflow: ellipis;" class="pure-u-5-12">
                  <a href="{{genRoute "view_torrent" "id" .ID }}">
                      {{.Name}}
                  </a>
              </td>
              <!--
              <td class="hidden-xs">
                  {{len .Comments}}
              </td>
              -->
              {{if .LastScrape.IsZero}}
              <td class="pure-u-1-12">{{call $.T "unknown"}}</td>
              {{else}}
              <td class="pure-u-1-12">
                <b class="text-success">{{.Seeders}}</b> / 
                <b class="text-danger">{{.Leechers}}</b> / 
                {{.Completed}}
              </td>
              {{end}}
              <td class="pure-u-1-12">{{.Date}}</td>
              <td class="pure-u-1-12">
                  {{ fileSize .Filesize $.T }}
              </td>
              <td class="pure-u-1-12">
                  <a href="{{.Magnet}}" title="Magnet link">
                      <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                  </a>
                  {{if ne .TorrentLink ""}}
                  <a href="{{.TorrentLink}}" title="Torrent file">
                      <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> 
                  </a>
                  {{end}}
              </td>
          </tr>
          {{end}}
      </table>
    </div>
      <nav>
          <ul class="pagination">
              {{ genNav .Navigation .URL 5 }}
          </ul>
      </nav>
</div>
{{end}}
