<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Nyaa Pantsu - {{block "title" .}}Error 404{{end}}</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Website CSS -->
    <link rel="stylesheet" href="{{.URL.Parse "/css/style.css"}}">
  </head>
  <body>
      <nav class="navbar navbar-default" id="mainmenu">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{.URL.Parse "/"}}">Nyaa Pantsu</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li><a href="https://sukebei.pantsu.cat">Fap</a></li>
                      <li><a href="{{.URL.Parse "/faq"}}">FAQ</a></li>
                      <li><a href="irc://irc.rizon.net/nyaapantsu">IRC</a></li>
                  </ul>
                  <form class="navbar-form navbar-right" role="search" action="/search" method="get">
                      <div class="form-group">
                        {{block "search_common" .}}{{end}}
                        {{block "search_button" .}}{{end}}
                      </div>
                  </form>
              </div>
          </div>
      </nav>

      <!-- top padding -->
      <div style="padding-top: 10rem"></div>

      <div class="container" id="container">
      {{if not .Search.HideAdvancedSearch}}
      <div class="blockBody" style="text-align:center">
        <font size="4.5">Advanced Search</font><br />
        <form class="navbar-form" role="search" action="/search" method="get">
          <div class="form-group">
            {{block "search_common" .}}{{end}}
            {{block "search_advanced" .}}{{end}}
            {{block "search_button" .}}{{end}}
          </div>
        </form>
        <div style="clear:both"></div>
      </div>
      <div style="margin:0.5em"></div>
      {{end}}

        {{block "content" .}}Nothing Here.{{end}}
      </div>

      <!-- bottom padding -->
      <div style="padding-top: 5rem"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Main Javascript File -->
    <script type="text/javascript" charset="utf-8" src="{{.URL.Parse "/js/main.js"}}"></script>
</body>
</html>
