<!DOCTYPE html>
<html lang="{{ call $.T "language_code" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{if Sukebei}}Sukebei{{else}}Nyaa{{end}} Pantsu - {{block "title" .}}{{ call $.T "error_404" }}{{end}}</title>
    <link rel="icon" type="image/png" href="/img/favicon.png?v=3" />

    <!-- RSS Feed with Context -->
    <link href="{{ block "rss_link" . }}{{ genRouteWithQuery "feed" .URL }}{{end}}" rel="alternate" type="application/rss+xml" title="Nyaa Pantsu - {{block "rsstitle" .}}Last torrents{{end}} RSS Feed" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" id="style" href="{{.URL.Parse "/css/main.css"}}">
    <link rel="stylesheet" href="" id="theme">
		<script>
			function changeTheme(opt) {
				document.getElementById('theme').href = "{{.URL.Parse " + opt.value + '"}}';
			}
		</script>

    <!-- Search Box for Google -->
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","url":"https://nyaa.pantsu.cat/","potentialAction":{"@type":"SearchAction","target":"https://nyaa.pantsu.cat/search?q={search_term_string}","query-input":"required name=search_term_string"}}</script>

    </head>
  <body>
     <div class="mascot"></div>
	<nav id="header" class="header">
		<div class="container">
			<div class="h-left">
					<div class="h-logo">
						<a href="#"><img src="/img/logo.png" alt="NyaaPantsu"></a>
					</div>
					<div class="h-nav">
						<a href="{{.URL.Parse "/upload"}}" class="nav-btn">Upload</a>
						<a href="{{ genRouteWithQuery "feed" .URL }}" class="nav-btn">RSS</a>
						<a href="{{.URL.Parse "/faq"}}" class="nav-btn">FAQ</a>
						<a href="sukebei.html" class="nav-btn">Fap</a>
					</div>
			</div>
			<div class="h-right">
        {{block "badge_user" .}}{{end}}
				<div class="h-search">
				<form role="search" action="/search" method="get">
						{{block "search_common" .}}{{end}}
            {{block "search_button" .}}{{end}}
				</form>
				</div>
			</div>
		</div>
	</nav>
<div id="content">
      <div class="content container">
        {{block "content" .}}{{call $.T "nothing_here"}}{{end}}
      </div>
<div class="pagination">
              {{ genNav .Navigation .URL 15 }}
</div>

<footer id="footer">
			<div class="container footer">

				<div class="footer-opt">
					<select onchange="changeTheme(this.options[this.selectedIndex])" name="Theme" id="" class="form-input">
						<option value="">Default</option>
						<option value="css/theme_g_anon.css">/g/ Anon</option>
						<option value="css/theme_tomorrow.css">Tomorrow</option>
					</select><label class="form-input select-icon"><i class="fa fa-caret-down"></i></label>

					<select name="Language" id="" class="form-input">
						<option value="">English</option>
					</select><label class="form-input select-icon"><i class="fa fa-caret-down"></i></label>

					<button class="form-input btn" onclick="toggleMascot(this)" value="hide"><i class="fa fa-eye-slash"></i> Mascot</button>
				</div>

				<span><i>Powered by <a href="#">NyaaPantsu</a></i></span>

			</div>
		</footer>
</div>
</body>
</html>
