{{define "title"}}{{call $.T "change_settings"}}{{end}}
{{define "content"}}
	<div style="text-align: left;" class="box">
	<form role="form" method="POST">
		{{ block "csrf_field" $ }}{{end}}
		<div class="form-group">
			<h3>{{call $.T "language"}}</h3>
			<select id="language" name="language" class="form-input">
			{{ $currentLanguage := .Language }}
			{{ range $tag, $translatedName := $.Languages }}
				<option value="{{ $tag }}" {{ if eq $currentLanguage $tag }}selected{{end}}>{{ $translatedName }}</option>
			{{ end }}
			</select>
			<h3>{{call $.T "theme"}}</h3>
			<select id="theme-selector" name="theme" class="form-input" onchange="switchThemes()">
				<option value="g"{{ if or (eq $.Theme "g") (eq $.Theme "") }} selected{{end}}>/g/</option>
				<option value="tomorrow"{{ if eq $.Theme "tomorrow" }} selected{{end}}>Tomorrow</option>
				<option value="classic"{{ if eq $.Theme "classic" }} selected{{end}}>Classic</option>
			</select>
			</br>
                        <h3>{{call $.T "mascot"}}</h3>
			<select id="mascot-selector" name="mascot" class="form-input">
				{{call $.T "mascot"}}
				<option value="show" {{ if eq $.Mascot "show" }} selected{{end}}>{{call $.T "show"}}</option>
				<option value="hide" {{ if eq $.Mascot "hide" }} selected{{end}}>{{call $.T "hide"}}</option>
			</select>
			</br>
			<p>{{call $.T "cookies"}}</p>
			<button type="submit" class="form-input btn">{{call $.T "save_changes"}}</button>
		</div>
	</form>
	</div>
{{end}}


