{{define "title"}}{{ T "delete_account" }}{{end}}
{{define "contclass"}}cont-view{{end}}
{{define "content"}}
<div class="blockBody">
	<div class="row" style="margin-top:20px">
	    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

					<h2>{{T "delete_success"}}</h2>
					<hr class="colorgraph">
					{{ range (index $.FormErrors "errors")}}
	   					<div class="alert alert-danger">{{ . }}</div>
	   				{{end}}
   			</div>
	</div>
</div>
{{end}}
{{define "js_footer"}}<script type="text/javascript" charset="utf-8" src="{{.URL.Parse "/js/registerPage.js"}}"></script>{{end}}