{{define "title"}}{{ T "profile_page" .UserProfile.Username }}{{end}}
{{define "contclass"}}cont-view{{end}}
{{define "content"}}
{{ range (index $.FormInfos "infos")}}
	<div class="alert alert-info"><a class="panel-close close" data-dismiss="alert">×</a><i class="glyphicon glyphicon-info-sign"></i> {{ . }}</div>
{{end}}
<div class="row profile">
{{with .UserProfile}}
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{ getAvatar .MD5 130 }}" class="img-responsive" alt="{{.Username}}">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{.Username}}
					</div>
					<div class="profile-usertitle-job">
						{{GetRole . }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
						{{if gt $.User.ID 0 }}
							{{if not (CurrentUserIdentical $.User .ID) }}
								{{if not (IsFollower . $.User)}}
									<a href="{{ genRoute "user_follow" "id" ( print .ID ) "username" .Username }}" class="btn btn-success btn-sm">{{ T "follow"}}</a>
								{{else}}
									<a href="{{ genRoute "user_follow" "id" ( print .ID ) "username" .Username }}" class="btn btn-danger btn-sm">{{ T "unfollow"}}</a>
								{{end}}
							{{end}}
						{{end}}
					<!-- <button type="button" class="btn btn-danger btn-sm">Message</button> -->
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="{{ genRoute "user_profile" "id" ( print .ID ) "username" .Username }}"><i class="glyphicon glyphicon-home"></i>{{T "torrents"}}</a>
						</li>
						{{if gt $.User.ID 0 }}
						{{if CurrentOrAdmin $.User .ID }}
						<li>
							<a href="{{ genRoute "user_profile_details" "id" ( print .ID ) "username" .Username }}"><i class="glyphicon glyphicon-user"></i>{{T "settings"}}</a>

						</li>
						{{end}}
						{{end}}
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
{{end}}
		<div class="col-md-9">
            <div class="profile-content">
			   {{ block "profile_content" . }}{{end}}
            </div>
		</div>
	</div>
{{end}}
