{{define "title"}}{{ T "register_title" }}{{end}}
{{define "contclass"}}cont-view{{end}}
{{define "content"}}
<div class="blockBody">
	<div class="row">
	    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
	    {{ with .RegistrationForm }}
			<form role="form" method="POST">
				<h2>{{T "signup_box_title" }}</h2>
				<hr class="colorgraph">
				{{ range (index $.FormErrors "errors")}}
   					<div class="alert alert-danger">{{ . }}</div>
   				{{end}}
				<div class="form-group">
					<input type="text" name="username" id="display_name" class="form-control input-lg" placeholder="{{T "username" }}" tabindex="1" value="{{ .Username }}">
   							{{ range (index $.FormErrors "username")}}
   							<p class="bg-danger">{{ . }}</p>
   							{{end}}
				</div>
				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control input-lg" placeholder="{{T "email_address" }}" tabindex="2" value="{{ .Email }}">
   							{{ range (index $.FormErrors "email")}}
   							<p class="bg-danger">{{ . }}</p>
   							{{end}}
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-lg" placeholder="{{T "password" }}" tabindex="3" value="{{ .Password }}">
   							{{ range (index $.FormErrors "password")}}
   							<p class="bg-danger">{{ . }}</p>
   							{{end}}
   						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="{{T "confirm_password" }}" tabindex="4">
   							{{ range (index $.FormErrors "password_confirmation")}}
   							<p class="bg-danger">{{ . }}</p>
   							{{end}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-3">
						<span class="button-checkbox">
							<button type="button" class="btn hidden" data-color="info" tabindex="5">{{T "i_agree" }}</button>
	                        <input type="checkbox" name="t_and_c" id="t_and_c" value="1">
   							{{ range (index $.FormErrors "t_and_c")}}
   							<p class="bg-danger">{{ . }}</p>
   							{{end}}
						</span>
					</div>
					<div class="col-xs-8 col-sm-9 col-md-9">
						{{T "terms_conditions_confirm" }}
					</div>
				</div>

				{{block "captcha" .}}{{end}}

				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-md-6"><input type="submit" value="{{T "register" }}" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
					<div class="col-xs-12 col-md-6">or <a href="{{ genRoute "user_login" }}" class="">{{T "signin" }}</a></div>
				</div>
			</form>
			{{end}}
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">{{T "terms_conditions" }}</h4>
				</div>
				<div class="modal-body">
					<p>{{T "terms_conditions_full" }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{{T "i_agree" }}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    <br />
    <br />
</div>
{{end}}
{{define "js_footer"}}<script type="text/javascript" charset="utf-8" src="{{.URL.Parse "/js/registerPage.js"}}"></script>{{end}}
