{{define "title"}}{{ call $.T "register_title" }}{{end}}
{{define "contclass"}}cont-view{{end}}
{{define "content"}}
	    {{ with .Form }}
		<div class="box">
			<div class="user-form">
			<form role="form" method="POST">
				{{ block "csrf_field" $ }}{{end}}
				<h2>{{call $.T "signup_box_title" }}</h2>
				{{ range (index $.FormErrors "errors")}}
   					<p class="error-text">{{ . }}</p>
   				{{end}}
					<input type="text" name="username" id="display_name" class="form-input up-input" placeholder="{{call $.T "username" }}" value="{{ .Username }}" autofocus> <br>
   							{{ range (index $.FormErrors "username")}}
   							<p class="error-text">{{ . }}</p>
   							{{end}}
					<input type="email" name="email" id="email" class="form-input up-input" placeholder="{{call $.T "email_address" }} ({{call $.T "optional"}})" value="{{ .Email }}"> <br>
   							{{ range (index $.FormErrors "email")}}
   							<p class="error-text">{{ . }}</p>
   							{{end}}
							<input type="password" name="password" id="password" class="form-input up-input" placeholder="{{call $.T "password" }}" value="{{ .Password }}"> <br>
   							{{ range (index $.FormErrors "password")}}
   							<p class="error-text">{{ . }}</p>
   							{{end}}
							<input type="password" name="password_confirmation" id="password_confirmation" class="form-input up-input" placeholder="{{call $.T "confirm_password" }}"> <br>
   							{{ range (index $.FormErrors "password_confirmation")}}
   							<p class="error-text">{{ . }}</p>
   							{{end}}
						<span class="button-checkbox">
	                        <input type="checkbox" name="t_and_c" id="t_and_c" value="1">
   							{{ range (index $.FormErrors "t_and_c")}}
   							<p class="error-text">{{ . }}</p>
   							{{end}}
						</span>
						<p>{{call $.T "terms_conditions_confirm" }}</p>
						<!--  -->
				{{block "captcha" (makeCaptchaData .CaptchaID $.T)}}{{end}}

					<input type="submit" value="{{call $.T "register" }}" class="form-input"></input>
			</form>
			</div>
			</div>
			<!-- Modal -->
    <div id="modal_mod_tools" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>{{ call $.T "terms_conditions" }}</h2>
            </div>
            <div class="modal-body">
                <p>{{ call $.T "terms_conditions_full" }}</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
			{{end}}
{{end}}
{{ define "footer_js" }}
<script type="text/javascript" src="{{ $.URL.Parse "/js/modal.js" }}"></script>
<script type="text/javascript" charset="utf-8">
    // Modal initialization
	Modal.Init({elements: document.getElementsByClassName("modal"),
		button: "#modal_active"
	});
</script>
{{end}}