{{define "title"}}{{  T("register_success_title") }}{{end}}
{{define "contclass"}}cont-view{{end}}
{{define "content"}}
<div class="blockBody">
	<div class="row" style="margin-top:20px">
	    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

					<h2>{{ T("sign_up_success")}}</h2>
					<hr class="colorgraph">
					{{if ne .User.Email ""}}
					<p>{{  T("signup_verification_email") }}</p>
					{{else}}
					<p>{{  T("signup_verification_noemail") }}</p>
					{{end}}
		</div>
	</div>
</div>
{{end}}
{{define "js_footer"}}<script type="text/javascript" charset="utf-8" src="{{.URL.Parse "/js/registerPage.js"}}"></script>{{end}}
